html, body {
  height: 100%;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

img.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
img.avatar.upvoted {
  border: 2px solid #4cae4c;
}
img.avatar.downvoted {
  border: 2px solid #d43f3a;
}
img.avatar.xs {
  width: 39px;
  height: 39px;
}
img.avatar.sm {
  width: 50px;
  height: 50px;
}
img.avatar.md {
  width: 64px;
  height: 64px;
}
img.avatar.lg {
  width: 75px;
  height: 75px;
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #333;
}
body > .container {
  padding: 0 15px 0;
}
body > .container > div {
  margin-top: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.navbar-inverse {
  border: none;
  background-color: #3d3d3d;
  min-height: 70px;
  font-size: 1.4em;
}
.navbar-inverse .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar-inverse .navbar-text {
  margin-top: 0.95em;
}
.navbar-inverse .navbar-nav > li > a.navbar__name {
  color: #FFFFFF;
  padding-left: 10px;
}
.navbar-inverse .navbar-nav > .open > a {
  background-color: #333;
}
.navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  background-color: #333;
}

.navbar-logo {
  font-family: 'signo';
  font-size: 1.8em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 0.26em;
}
.navbar-logo:link {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-right.navbar--login {
  margin-right: 5px;
}
.navbar-right .navbar__rooms {
  margin-right: 5px;
}
.navbar-right .navbar__rooms a {
  color: white;
}
.navbar-right .navbar__divider {
  margin-left: 0;
  margin-right: 0;
  color: #FFFFFF;
}
.navbar-right .navbar__room {
  margin-left: 5px;
}
.navbar-right .navbar__room a {
  font-weight: bold;
  color: #FFFFFF;
}
.navbar-right .navbar__photo {
  border: 2px solid #FFFFFF;
  margin-right: 5px;
}

.alerts {
  z-index: 2000;
  width: 50%;
  position: fixed;
  top: 5px;
  left: 25%;
}
.alerts .alert {
  padding: 9px 35px 9px 9px;
  text-align: center;
}

.lstn {
  color: #E84961;
}

.rdio {
  color: #008fd5;
}

.hero {
  color: white;
  text-align: center;
  background: url(/static/images/hero.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
}
.hero h1 {
  font-size: 70px;
}
.hero p {
  font-size: 30px;
}

.front__info__container {
  margin-bottom: 30px;
}

.front__info {
  text-align: center;
}
.front__info .glyphicon {
  font-size: 3em;
}

.rooms__container {
  border: 1px solid #DDD;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.rooms {
  margin-bottom: 0;
}
.rooms th.name {
  width: 50%;
}
.rooms th.owner {
  width: 35%;
}
.rooms td .btn {
  width: 70px;
}
.rooms .rooms__empty td {
  text-align: center;
  height: 150px;
  padding-top: 44px;
}
.rooms .rooms__empty td a {
  cursor: pointer;
}

.room .room__left {
  padding-left: 0;
  padding-right: 0;
}
.room .room__middle {
  padding-left: 15px;
  padding-right: 15px;
}
.room .room__right {
  padding-left: 0;
  padding-right: 0;
}

.playing__info-container {
  margin-bottom: 36px;
}

.playing__info--stopped {
  background: #3d3d3d;
  min-height: 180px;
  line-height: 180px;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
}
.playing__info--stopped .fa.fa-play-circle {
  font-size: 8rem;
  line-height: 180px;
  color: #5cb85c;
}

.playing__info--playing {
  min-height: 180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.4);
  padding: 1em;
  min-height: 180px;
}
.playing__meta h3, .playing__meta h4 {
  color: #fff;
  margin: 0;
}
.playing__meta .playing__title {
  margin-top: 1em;
  font-weight: 700;
  font-size: 22px;
}
.playing__meta .playing__artist {
  font-weight: 100;
}

.playing__controls {
  margin-top: 1em;
}

.control__button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  opacity: 1;
  width: 50px;
  height: 50px;
  font-size: 18px;
}

.roster__category {
  margin-bottom: 36px;
}

.roster__container {
  border: none;
  border-radius: 0;
}
.roster__container .roster__category-label {
  color: #fff;
  text-transform: uppercase;
}
.roster__container .roster__category-label .fa.fa-stop {
  color: #d9534f;
}
.roster__container .roster__category-label .fa.fa-play-circle {
  color: #5cb85c;
}
.roster__container ul.roster {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.roster__container ul.roster li {
  display: inline;
  margin-right: 6px;
}
.roster__container ul.roster li.empty {
  display: inline-block;
  width: 100%;
  background-color: #eee;
  padding: 6px;
}
.roster__container ul.roster li.roster__item--controller a {
  position: relative;
}
.roster__container ul.roster li.roster__item--controller a .fa.fa-volume-up {
  position: absolute;
  top: 10px;
  left: 28px;
  z-index: 1;
  background: #337ab7;
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  font-size: 0.9rem;
  border: 1px solid #fff;
}
.roster__container .roster__user img {
  margin: 5px;
}

.progress {
  border: none;
  background-color: #eee;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.progress .time {
  display: block;
  position: absolute;
  right: 0;
  margin-right: .5em;
}

.queue__tabs {
  min-height: 400px;
  background-color: #3d3d3d;
}
.queue__tabs .nav-tabs > li {
  width: 50%;
  background-color: #3d3d3d;
}
.queue__tabs .nav-tabs > li.active {
  background-color: #d24242;
}
.queue__tabs .nav-tabs > li.active > a:hover, .queue__tabs .nav-tabs > li.active > a:focus {
  background-color: #d24242;
  border: 0;
  color: white;
}
.queue__tabs .nav-tabs > li > a {
  margin: 0;
  padding: 8px 0 8px 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  background: none;
  color: #ffffff;
  font-weight: 700;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.music__container > * {
  margin-bottom: 5px;
}
.music__container accordion > .panel-group {
  height: 450px;
}

.queue--empty {
  font-size: 10em;
  color: #333;
  line-height: 400px;
}

.messages--empty {
  min-height: 436px;
  font-size: 10em;
  color: #333;
  line-height: 400px;
  padding-top: 36px;
}

.drilldown__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.drilldown__item {
  min-height: 60px;
  background-color: #eee;
  padding: 0;
  border-bottom: 4px solid #3d3d3d;
}

.item__image {
  width: 13%;
  min-height: 60px;
  float: left;
}
.item__image img {
  width: 60px;
  height: 60px;
}
.item__image .fa {
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.item__info {
  float: left;
  width: 75%;
  line-height: 1.23;
  padding: 3px 0 0 5px;
}
.item__info .item__top {
  float: right;
  margin: 12px 10px 0px 5px;
  cursor: pointer;
}
.item__info .item__title {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__info .item__artist {
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item__actions {
  float: right;
  margin-right: 15px;
  line-height: 50px;
}
.item__actions .fa {
  cursor: pointer;
  color: #d24242;
  text-decoration: none;
  line-height: 60px;
}

.messages {
  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;
}
footer .container .text-muted {
  margin: 12px 0;
}

.clear {
  clear: both;
}

.error-message {
  margin-top: 1em;
}

.user-search .user-photo {
  max-width: 30px;
  max-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.user-search .list-group-item {
  padding: 5px;
}
.user-search .list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.user-search .list-group-item.active .text-muted {
  color: #ccc;
}
.user-search .list-group-item.active .text-primary {
  color: #fff;
}

.emoticon-list .list-group-item {
  padding: 5px;
  display: inline-block;
  float: left;
}
.emoticon-list .list-group-item:nth-child(15n) {
  clear: left;
}
.emoticon-list .list-group-item.active {
  background-color: #428bca;
  border-color: #428bca;
}

.mentioned {
  -moz-animation: mentioned 5s infinite ease;
  -webkit-animation: mentioned 5s infinite ease;
  animation: mentioned 5s infinite ease;
}

@-moz-keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
@-webkit-keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
@keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
.room-activity {
  min-height: 400px;
  background-color: #3d3d3d;
}
.room-activity .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #FFFFFF;
}

.chat__message {
  min-height: 60px;
  background-color: #eee;
  padding: 0;
  border-bottom: 2px solid #3d3d3d;
  font-weight: 700;
}

.chat__message__user {
  color: #333;
  font-weight: 800;
}

.chat__message--playing {
  color: #2573a6;
}

.chat__message--upvoted {
  color: #2ecc71;
}

.chat__message--downvoted {
  color: #e74c3c;
}

.chat__message--skipped {
  color: #e74c3c;
}

.chat__message--said {
  color: #777;
}

.chat__message__message {
  color: #333;
}

.chat__image {
  width: 16%;
}

.chat__user-info {
  width: 83%;
  position: relative;
  font-size: 14px;
  padding: 3px 0 0 3px;
}
.chat__user-info .item__title {
  font-size: 14px;
}

.chat__timestamp {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 2px;
}

.search__box {
  border-bottom: 4px solid #3d3d3d;
}
.search__box .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #FFFFFF;
}

.more-music .carousel-control {
  display: none;
}
.more-music .carousel-indicators {
  display: none;
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: #d24242;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carousel__back a {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
