html, body {
  height: 100%;
}

.text-muted {
  color: #777 !important;
}

.text-primary {
  color: #2573a6 !important;
}

.text-success {
  color: #2fa661 !important;
}

.text-warning {
  color: #e74c3c !important;
}

.text-danger {
  color: #d24242 !important;
}

.btn-primary {
  background-color: #2573a6 !important;
}
.btn-primary:hover {
  background-color: #206591 !important;
}

.btn-warning {
  background-color: #e74c3c !important;
}
.btn-warning:hover {
  background-color: #e43725 !important;
}

.btn-danger {
  background-color: #d24242 !important;
}
.btn-danger:hover {
  background-color: #ca3030 !important;
}

a {
  color: #d24242;
}
a:hover, a:focus {
  color: #ca3030;
}

.btn-accent {
  background-color: #3d3d3d;
  border-color: #3d3d3d;
  border-radius: 0;
  color: #ffffff;
}
.btn-accent:hover {
  background-color: #303030;
  color: #ffffff;
}
.btn-accent:focus {
  outline: none;
  color: #ffffff;
}

.btn-active {
  background-color: #d24242;
  border-color: #d24242;
  border-radius: 0;
  color: #ffffff;
}
.btn-active:hover {
  background-color: #ca3030;
  color: #ffffff;
}
.btn-active:focus {
  outline: none;
  color: #ffffff;
}

.privacy {
  background-color: #eee;
  min-height: 400px;
  height: auto;
}

div.modal-header {
  padding: 0 15px;
}

div.snackbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
div.snackbar.snackbar--error {
  background-color: #d24242;
  color: white;
}
div.snackbar.snackbar--warning {
  background-color: #e74c3c;
  color: white;
}
div.snackbar.snackbar--info {
  background-color: #2573a6;
  color: white;
}
div.snackbar.snackbar--success {
  background-color: #2fa661;
  color: white;
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

img.avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
img.avatar.upvoted {
  border: 2px solid #2fa661;
}
img.avatar.downvoted {
  border: 2px solid #d24242;
}
img.avatar.xs {
  width: 39px;
  height: 39px;
}
img.avatar.sm {
  width: 50px;
  height: 50px;
}
img.avatar.md {
  width: 64px;
  height: 64px;
}
img.avatar.lg {
  width: 75px;
  height: 75px;
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: 'proxima-nova', sans-serif;
  background-color: #333;
}
body > .container {
  height: 100%;
}
body > .container > div {
  height: calc(100% - 130px);
  margin-top: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav, .pagination, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
}

.container .navbar-header {
  margin: 0;
}

.navbar-inverse {
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #3d3d3d;
  min-height: 70px;
  font-size: 1.4em;
}
.navbar-inverse a {
  cursor: pointer;
}
.navbar-inverse .navbar-text {
  margin-top: 1.05em;
}
.navbar-inverse .navbar-nav.navbar-right {
  margin: 0;
}
.navbar-inverse .navbar-nav.navbar-right .divider {
  line-height: 70px;
  width: 1px;
  border-left: 1px solid #333;
}

.navbar-logo {
  font-family: 'proxima-nova';
  font-weight: 600;
  font-size: 1.8em;
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 0.26em;
}
.navbar-logo:link, .navbar-logo:hover, .navbar-logo:visited, .navbar-logo:focus {
  color: white;
  text-decoration: none;
}

.navbar-right {
  color: white;
}
.navbar-right a, .navbar-right a:link, .navbar-right a:hover, .navbar-right a:visited, .navbar-right a:active {
  color: white;
}
.navbar-right.navbar--login {
  margin-right: 15px;
}
.navbar-right.navbar--login a {
  margin-top: 18px;
}
.navbar-right .navbar__divider {
  margin-left: -10px;
  margin-right: -10px;
}
.navbar-right .navbar__room a {
  font-weight: 600;
}
.navbar-right .navbar__photo {
  border: 2px solid white;
  margin-right: 5px;
}

.hero-lstn {
  color: #d24242;
}

.hero-music {
  color: #2573a6;
}

.hero {
  color: white;
  text-align: center;
  background: url(/static/images/hero.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 60px;
}
.hero h1 {
  font-size: 70px;
}
.hero p {
  font-size: 30px;
}

.rooms h1 {
  color: #eee;
}

.rooms__container {
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.rooms__container table {
  background-color: #eee;
}

.rooms {
  margin-bottom: 0;
}
.rooms th.name {
  width: 50%;
}
.rooms th.owner {
  width: 35%;
}
.rooms td .btn {
  width: 70px;
}
.rooms .rooms__empty td {
  text-align: center;
  height: 150px;
  padding-top: 44px;
}
.rooms .rooms__empty td a {
  cursor: pointer;
}

.room {
  height: 100%;
}
.room .room__left {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.room .room__middle {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}
.room .room__right {
  padding-left: 0;
  padding-right: 0;
  height: 100%;
}

div.progress-bar-info {
  background-color: #2573a6;
}

.playing__info-container {
  margin-bottom: 15px;
}

.playing__info--stopped {
  background: #3d3d3d;
  min-height: 180px;
  text-align: center;
  color: white;
  font-size: 1.7rem;
}
.playing__info--stopped .fa.fa-play-circle {
  font-size: 8rem;
  line-height: 180px;
  color: #2fa661;
  cursor: pointer;
}

.playing__info--ready {
  line-height: 180px;
}

.playing__info--waiting {
  line-height: 180px;
}

.playing__info--playing {
  min-height: 180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  min-height: 180px;
}
.playing__meta h3, .playing__meta h4 {
  color: white;
  margin: 0;
}
.playing__meta .playing__title {
  margin-top: 1em;
  font-weight: 600;
  font-size: 22px;
}
.playing__meta .playing__artist {
  font-weight: 400;
}

.playing__controls {
  margin-top: 1em;
}

.control__button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 50px;
  height: 50px;
  font-size: 18px;
}
.control__button:focus {
  outline: none;
}

.roster__broadcasting {
  margin-bottom: 15px;
}
.roster__broadcasting a {
  display: block;
  color: white;
  cursor: pointer;
}
.roster__broadcasting .fa {
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
}
.roster__broadcasting .broadcasting .broadcasting-btn {
  display: inline-block;
  line-height: 50px;
  margin-left: 15px;
}
.roster__broadcasting .broadcasting--on {
  background-color: #d24242;
}
.roster__broadcasting .broadcasting--on .fa {
  background-color: #b62b2b;
}
.roster__broadcasting .broadcasting--on .broadcasting-btn {
  text-shadow: 1px 1px 1px #b62b2b;
}
.roster__broadcasting .broadcasting--off {
  background-color: #2fa661;
}
.roster__broadcasting .broadcasting--off .fa {
  background-color: #247e4a;
}
.roster__broadcasting .broadcasting--off .broadcasting-btn {
  text-shadow: 1px 1px 1px #247e4a;
}
.roster__broadcasting .broadcasting--disabled {
  background-color: #777;
}
.roster__broadcasting .broadcasting--disabled .fa {
  background-color: #5e5e5e;
}
.roster__broadcasting .broadcasting--disabled .broadcasting-btn {
  text-shadow: 1px 1px 1px #5e5e5e;
}

.roster__category {
  margin-bottom: 15px;
}

.roster__container {
  border: none;
  border-radius: 0;
}
.roster__container .roster__category-label {
  color: white;
  text-transform: uppercase;
}
.roster__container .roster__category-label .bootstrap-switch {
  float: right;
}
.roster__container ul.roster {
  padding: 0;
  margin: 15px 0 0 0;
  list-style-type: none;
}
.roster__container ul.roster li {
  display: inline;
  margin-right: 6px;
}
.roster__container ul.roster li.empty {
  display: inline-block;
  width: 100%;
  background-color: #eee;
  padding: 6px;
}
.roster__container ul.roster li.roster__item--controller a {
  position: relative;
}
.roster__container ul.roster li.roster__item--controller a .fa.fa-volume-up {
  position: absolute;
  top: 10px;
  left: 28px;
  z-index: 1;
  background: #2573a6;
  padding: 4px;
  border-radius: 50%;
  color: white;
  font-size: 0.9rem;
  border: 1px solid white;
}
.roster__container .roster__user {
  color: #333;
}
.roster__container .roster__user img {
  margin: 0 0 15px 0;
}

.progress {
  border: none;
  background-color: #eee;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.progress .time {
  display: block;
  position: absolute;
  right: 0;
  margin-right: .5em;
}

.queue__tabs {
  height: 100%;
  min-height: 400px;
  background-color: #3d3d3d;
}
.queue__tabs .nav-tabs {
  height: 36px;
  border-bottom: 1px solid #3d3d3d;
}
.queue__tabs .nav-tabs > li {
  width: 33.33%;
  background-color: #3d3d3d;
}
.queue__tabs .nav-tabs > li:hover {
  background-color: #303030;
}
.queue__tabs .nav-tabs > li.active {
  background-color: #d24242;
}
.queue__tabs .nav-tabs > li.active > a:hover, .queue__tabs .nav-tabs > li.active > a:focus {
  background-color: #d24242;
  border: 0;
  color: white;
}
.queue__tabs .nav-tabs > li > a {
  margin: 0;
  padding: 8px 0 8px 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  background: none;
  color: #ffffff;
  font-weight: 600;
}

.tab-content {
  height: 100%;
}
.tab-content .tab-pane {
  height: 100%;
}

.queue__container {
  height: 100%;
}

.queue__controls {
  height: 26px;
}
.queue__controls .btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 3px;
  width: 50%;
  background-color: #3d3d3d;
  color: #ffffff;
}
.queue__controls .btn:hover {
  background-color: #303030;
}
.queue__controls .btn:focus {
  outline: none;
}
.queue__controls .btn.toggled {
  background-color: #d24242;
  color: #ffffff;
}
.queue__controls .btn.toggled:hover {
  background-color: #ca3030;
}

.queue {
  height: calc(100% - 62px);
  overflow-x: hidden;
  overflow-y: auto;
}
.queue.drilldown__list {
  height: calc(100% - 62px);
}

.playlist__container {
  height: calc(100% - 38px);
  overflow: hidden;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.music__container > * {
  margin-bottom: 5px;
}
.music__container accordion > .panel-group {
  height: 450px;
}

.queue--empty {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.queue--empty p {
  font-size: 1.4em;
  color: #ffffff;
}

.queue--loading {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10em;
  color: #333;
}

.messages--loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
  font-size: 10em;
  color: #333;
}

.drilldown__list {
  height: 100%;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.drilldown__item, .chat__message {
  min-height: 60px;
  background-color: #eee;
  padding: 0;
  border-bottom: 4px solid #3d3d3d;
  display: -webkit-flex;
  display: flex;
}
.drilldown__item .item__image, .drilldown__item .item__actions, .drilldown__item .item__info, .chat__message .item__image, .chat__message .item__actions, .chat__message .item__info {
  width: 60px;
  -webkit-flex: none;
  flex: none;
  margin: 0;
}
.drilldown__item .item__image, .chat__message .item__image {
  width: auto;
  -webkit-flex-basis: 60px;
  flex-basis: 60px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.drilldown__item .item__actions, .chat__message .item__actions {
  width: auto;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 0.5em;
}
.drilldown__item .item__info, .chat__message .item__info {
  -webkit-flex-grow: 3;
  flex-grow: 3;
  -webkit-flex: 1;
  flex: 1;
  margin: 0;
}

.chat__input {
  height: 36px;
}

.chat__message .item__title {
  display: -webkit-flex;
  display: flex;
}

.chat__message__message-type {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.chat__track {
  font-weight: 600;
}

.chat__artist {
  font-weight: 400;
}

.item__image {
  width: 17%;
  min-height: 60px;
  position: relative;
}
.item__image img {
  height: 60px;
  width: 60px;
}
.item__image .fa {
  height: 60px;
  width: 60px;
  line-height: 60px;
}
.item__image .item__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.item__image .item__image__overlay__icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  line-height: 60px;
  font-size: 3em;
  color: black;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.item__image .item__image__overlay__icon--favorite {
  color: #d24242;
}
.item__image .item__image__overlay__icon--message {
  color: #777;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.item__image .item__image__overlay__icon--upvote {
  color: #2fa661;
}
.item__image .item__image__overlay__icon--downvote {
  color: #d24242;
}
.item__image .item__image__overlay__icon--skipped {
  color: #d24242;
}
.item__image .item__image__overlay__icon--playing {
  color: #2573a6;
}

.item__info {
  width: 75%;
  line-height: 1.23;
  padding: 3px 0 0 5px;
}
.item__info a {
  color: #333;
}
.item__info .item__top {
  float: right;
  margin: 12px 10px 0px 5px;
  cursor: pointer;
}
.item__info .item__title {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item__info .item__title.item__title--1 {
  padding-top: 17px;
}
.item__info .item__title.item__title--2 {
  padding-top: 8px;
}
.item__info .item__artist {
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.item__actions {
  margin-right: 15px;
  line-height: 50px;
}
.item__actions a {
  cursor: pointer;
}
.item__actions .dropdown-menu {
  font-size: 12px;
  cursor: pointer;
}
.item__actions .dropdown-menu .fa {
  margin-top: 0;
}
.item__actions .dropdown-menu li a {
  padding: 3px 5px;
}
.item__actions .fa {
  color: #d24242;
  text-decoration: none;
  font-size: 1.25em;
  margin-top: 22px;
}
.item__actions .item__actions__drag-handle {
  color: #777;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.item__actions .item__actions__drag-handle:active {
  cursor: ns-resize;
}
.item__actions .item__actions__move-to-top, .item__actions .item__actions__move-to-bottom, .item__actions .item__actions__add {
  color: #2fa661;
}

.messages {
  height: calc(100% - 36px);
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

.clear {
  clear: both;
}

.error-message {
  margin-top: 1em;
}

.user-search .user-photo {
  max-width: 30px;
  max-height: 30px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
.user-search .list-group-item {
  padding: 5px;
}
.user-search .list-group-item.active {
  color: white;
  background-color: #2573a6;
  border-color: #2573a6;
}
.user-search .list-group-item.active .text-muted {
  color: #777;
}
.user-search .list-group-item.active .text-primary {
  color: white;
}

.emoticon-list .list-group-item {
  padding: 5px;
  display: inline-block;
  float: left;
}
.emoticon-list .list-group-item:nth-child(15n) {
  clear: left;
}
.emoticon-list .list-group-item.active {
  background-color: #2573a6;
  border-color: #2573a6;
}

.room-activity {
  height: 100%;
  background-color: #3d3d3d;
}
.room-activity .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: white;
}

svg.emojione {
  height: 16px;
  min-height: 16px;
}

.chat__message {
  min-height: 60px;
  background-color: #eee;
  padding: 0;
  border-bottom: 2px solid #3d3d3d;
  font-weight: 600;
}

div.chat__message--message {
  background-color: white;
}

.chat__message__user {
  color: #333;
  font-weight: 600;
}

.chat__message--playing {
  color: #2573a6;
}

.chat__message--upvoted {
  color: #2fa661;
}

.chat__message--downvoted {
  color: #d24242;
}

.chat__message--skipped {
  color: #d24242;
}

.chat__message--message {
  color: #777;
}

.chat__message__message {
  color: #333;
}

.chat__image {
  width: 16%;
  position: relative;
}

.chat__user-info {
  width: 83%;
  position: relative;
  font-size: 14px;
  padding: 3px 0 0 3px;
}
.chat__user-info .item__title {
  font-size: 14px;
}

.chat__timestamp {
  margin-right: 4px;
}

.search__wrapper {
  height: 100%;
}

.search__container {
  height: calc(100% - 38px);
}

.search__contents {
  height: 100%;
}

.search__box {
  border-bottom: 4px solid #3d3d3d;
}
.search__box .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: white;
}

.lstn-carousel {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.lstn-carousel a {
  cursor: pointer;
}
.lstn-carousel .slide__wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.lstn-carousel .slides {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0px;
  -moz-transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: left 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}
.lstn-carousel .slides .slide__container {
  width: 20%;
  height: calc(100% - 36px);
  float: left;
  position: relative;
}
.lstn-carousel .slides .slide__container .slide {
  height: calc(100% - 40px);
}

.more-music {
  height: calc(100% - 36px);
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: #d24242;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
}
.carousel__back a {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.carousel__back .dropdown-menu {
  font-size: 12px;
}
.carousel__back .dropdown-menu li a {
  cursor: pointer;
  text-transform: none;
  font-weight: 400;
  padding: 3px 5px;
}
.carousel__back .carousel__dropdown--add {
  color: #2fa661;
}
.carousel__back .carousel__dropdown--refresh {
  color: #3d3d3d;
}
.carousel__back .carousel__action {
  margin-right: 10px;
  color: white;
}
.carousel__back .carousel__action .fa {
  font-size: 1.25em;
}

/* sm */
@media (min-width: 768px) {
  div.room > div.room__middle {
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* md */
@media (min-width: 992px) {
  div.queue__tabs ul.nav-tabs > li {
    width: 50%;
  }
}
