html, body {
  height: 100%;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

img.avatar {
  border-radius: 50%;
}
img.avatar.upvoted {
  border: 2px solid #4cae4c;
}
img.avatar.downvoted {
  border: 2px solid #d43f3a;
}
img.avatar.xs {
  width: 32px;
  height: 32px;
}
img.avatar.sm {
  width: 50px;
  height: 50px;
}
img.avatar.md {
  width: 64px;
  height: 64px;
}
img.avatar.lg {
  width: 75px;
  height: 75px;
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #333;
}
body > .container {
  padding: 90px 15px 0;
}
body > .container > div {
  margin-top: 15px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  border-radius: 1em;
}

.navbar-inverse {
  border: none;
  background-color: #3d3d3d;
  min-height: 75px;
  font-size: 1.4em;
}
.navbar-inverse .navbar-text {
  margin-top: 1.2em;
}
.navbar-inverse .navbar-nav > li > a {
  padding-top: 1.2em;
}
.navbar-inverse .navbar-nav > li > a.navbar__name {
  color: #FFFFFF;
  padding-left: 10px;
}

.navbar-logo {
  font-family: 'signo';
  font-size: 3.5rem;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 1.3rem;
}
.navbar-logo:link {
  color: #FFFFFF;
  text-decoration: none;
}

.navbar-right.navbar--login {
  margin-right: 5px;
}
.navbar-right .navbar__rooms {
  margin-right: 5px;
}
.navbar-right .navbar__rooms a {
  color: white;
}
.navbar-right .navbar__divider {
  margin-left: 0;
  margin-right: 0;
  color: #FFFFFF;
}
.navbar-right .navbar__room {
  margin-left: 5px;
}
.navbar-right .navbar__room a {
  font-weight: bold;
  color: #FFFFFF;
}
.navbar-right .navbar__photo {
  border: 2px solid #FFFFFF;
  margin-right: 5px;
}

.alerts {
  z-index: 2000;
  width: 50%;
  position: fixed;
  top: 5px;
  left: 25%;
}
.alerts .alert {
  padding: 9px 35px 9px 9px;
  text-align: center;
}

.lstn {
  color: #E84961;
}

.rdio {
  color: #008fd5;
}

.hero {
  color: white;
  text-align: center;
  background: url(/static/images/hero.jpg) no-repeat center center;
  background-size: cover;
  margin-bottom: 60px;
}
.hero h1 {
  font-size: 70px;
}
.hero p {
  font-size: 30px;
}

.front__info__container {
  margin-bottom: 30px;
}

.front__info {
  text-align: center;
}
.front__info .glyphicon {
  font-size: 3em;
}

.rooms__container {
  border: 1px solid #DDD;
  border-radius: 4px;
}

.rooms {
  margin-bottom: 0;
}
.rooms th.name {
  width: 50%;
}
.rooms th.owner {
  width: 35%;
}
.rooms td .btn {
  width: 70px;
}
.rooms .rooms__empty td {
  text-align: center;
  height: 150px;
  padding-top: 44px;
}
.rooms .rooms__empty td a {
  cursor: pointer;
}

.room .room__left {
  padding-right: 0;
}
.room .room__middle {
  padding-left: 0;
  padding-right: 0;
}
.room .room__right {
  padding-left: 0;
}

.playing__title {
  color: #FFFFFF;
  font-weight: 700;
}

.playing__artist {
  color: #FFFFFF;
  font-weight: 700;
}

.playing__info--playing {
  min-height: 180px;
}

.playing__meta {
  background: #000;
}

.control__button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.roster__container {
  border: none;
  border-radius: 0;
}
.roster__container .roster__user img {
  margin: 5px;
}

.no-gutters {
  padding: 12px;
  background: #f5f5f5;
}

.progress {
  border: none;
  background-color: #eee;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.progress .time {
  display: block;
  width: 93%;
  position: absolute;
}

.queue__tabs {
  height: 100%;
}
.queue__tabs .nav-tabs > li {
  width: 50%;
  background-color: #3d3d3d;
}
.queue__tabs .nav-tabs > li.active {
  background-color: #d24242;
}
.queue__tabs .nav-tabs > li.active > a:hover, .queue__tabs .nav-tabs > li.active > a:focus {
  background-color: #d24242;
  border: 0;
  color: white;
}
.queue__tabs .nav-tabs > li > a {
  margin: 0;
  padding: 8px 0 8px 0;
  border-radius: 0;
  border: 0;
  text-align: center;
  background: none;
  color: #FFFFFF;
  font-weight: 700;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.music__container > * {
  margin-bottom: 5px;
}
.music__container accordion > .panel-group {
  height: 450px;
}

.categories {
  overflow: auto;
  height: 450px;
}

.category {
  margin-bottom: 5px;
}

.category__contents {
  padding: 5px;
}

.playlist {
  margin-bottom: 5px;
}
.playlist:last-child {
  margin-bottom: 0;
}

.playlist__tracks {
  padding: 0;
}

.queue--empty {
  margin: 10px;
  height: 170px;
  padding-top: 40px;
}

.track__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.track__list .track {
  background-color: #eee;
  padding: 0;
  border-top: 1px solid #ddd;
}
.track__list .track:first-child {
  border-top: none;
}
.track__list .track:last-child .track__image img {
  border-bottom-left-radius: 4px;
}
.track__list .track.track--even {
  background-color: #F5F5F5;
}
.track__list .track.track--odd {
  background-color: #FFFFFF;
}
.track__list .track .track__image {
  width: 40px;
  height: 40px;
  float: left;
}
.track__list .track .track__image img {
  width: 40px;
  height: 40px;
}
.track__list .track .track__image .overlay {
  display: none;
  background-color: #333;
  position: relative;
  top: -40px;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  opacity: 0.65;
}
.track__list .track .track__image .glyphicon, .track__list .track .track__image .fa {
  display: none;
  position: relative;
  top: -80px;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 2em;
  text-align: center;
  color: #ddd;
  cursor: pointer;
}
.track__list .track .track__image:hover .overlay {
  display: block;
}
.track__list .track .track__image:hover .glyphicon, .track__list .track .track__image:hover .fa {
  display: block;
}
.track__list .track .track__info {
  float: left;
  padding: 3px 0 0 3px;
}
.track__list .track .track__info .track__top {
  float: right;
  margin: 12px 10px 0px 5px;
  cursor: pointer;
}
.track__list .track .track__info .track__title {
  font-weight: bold;
  font-size: 12px;
}
.track__list .track .track__info .track__artist {
  font-size: 11px;
}
.track__list .track .track__actions--queued {
  float: right;
  margin-right: 22px;
  line-height: 50px;
}
.track__list .track .track__actions--queued a {
  display: none;
  cursor: pointer;
}
.track__list .track:hover .track__actions--queued a {
  display: inline;
}
.track__list.queue {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.track__list.queue .track {
  cursor: move;
  border-bottom: 4px solid #333;
}
.track__list.queue .track .track__image {
  width: 60px;
  height: 60px;
}
.track__list.queue .track .track__image img {
  width: 60px;
  height: 60px;
}
.track__list.queue .track .track__image .overlay {
  top: -60px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.track__list.queue .track .track__image .glyphicon, .track__list.queue .track .track__image .fa {
  top: -120px;
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.track__list.queue .track .track__info {
  padding: 3px 0 0 5px;
}
.track__list.queue .track .track__info .track__title {
  font-size: 16px;
}
.track__list.queue .track .track__info .track__artist {
  font-size: 14px;
}

.messages {
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;
}
footer .container .text-muted {
  margin: 12px 0;
}

.clear {
  clear: both;
}

.error-message {
  margin-top: 1em;
}

.user-search .user-photo {
  max-width: 30px;
  max-height: 30px;
  border-radius: 15px;
}
.user-search .list-group-item {
  padding: 5px;
}
.user-search .list-group-item.active {
  color: #fff;
  background-color: #428bca;
  border-color: #428bca;
}
.user-search .list-group-item.active .text-muted {
  color: #ccc;
}
.user-search .list-group-item.active .text-primary {
  color: #fff;
}

.emoticon-list .list-group-item {
  padding: 5px;
  display: inline-block;
  float: left;
}
.emoticon-list .list-group-item:nth-child(15n) {
  clear: left;
}
.emoticon-list .list-group-item.active {
  background-color: #428bca;
  border-color: #428bca;
}

.mentioned {
  -moz-animation: mentioned 5s infinite ease;
  -webkit-animation: mentioned 5s infinite ease;
  animation: mentioned 5s infinite ease;
}

@-moz-keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
@-webkit-keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
@keyframes mentioned {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}
.room-activity .messages {
  height: 90%;
  width: 100%;
}
.room-activity .messages .chat__message {
  background-color: #eee;
  padding: 10px 10px 15px 10px;
  border: 0;
  border-bottom: 2px solid #ddd;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
.room-activity .messages .chat__message .chat__message__headline {
  font-weight: 700;
}
.room-activity .messages .chat__message .chat__message__headline .chat__message__user {
  color: #333;
  font-weight: 800;
}
.room-activity .messages .chat__message .chat__message--playing {
  color: #2573a6;
}
.room-activity .messages .chat__message .chat__message--upvoted {
  color: #2ecc71;
}
.room-activity .messages .chat__message .chat__message--downvoted {
  color: #e74c3c;
}
.room-activity .messages .chat__message .chat__message--skipped {
  color: #e74c3c;
}
.room-activity .messages .chat__message .chat__message--said {
  color: #777;
}
.room-activity .messages .chat__message .chat__message__photo {
  padding-left: 20px;
  padding-top: 5px;
  width: 23%;
}
.room-activity .messages .chat__message .chat__message__body {
  width: 57%;
  color: #999;
  font-weight: 700;
}
.room-activity .messages .chat__message .chat__message__message {
  line-height: 0.9;
  color: #333;
}
.room-activity .messages .chat__message .chat__message__timestamp {
  width: 19%;
  padding-right: 0;
  color: #aaa;
  font-weight: 700;
  padding-top: 35px;
  padding-left: 8px;
}
.room-activity .form-control {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
