<!DOCTYPE html>
<html lang="en" ng-app="lstn">
<head>
  <base href="/">
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Listen to music with your friends">
  <meta name="author" content="Suspend Labs">

  <title>Lstn</title>

  <link rel="apple-touch-icon" sizes="57x57" href="%% url_for('static', filename='/apple-touch-icon-57x57.png') %%">
  <link rel="apple-touch-icon" sizes="60x60" href="%% url_for('static', filename='/apple-touch-icon-60x60.png') %%">
  <link rel="apple-touch-icon" sizes="72x72" href="%% url_for('static', filename='/apple-touch-icon-72x72.png') %%">
  <link rel="apple-touch-icon" sizes="76x76" href="%% url_for('static', filename='/apple-touch-icon-76x76.png') %%">
  <link rel="apple-touch-icon" sizes="114x114" href="%% url_for('static', filename='/apple-touch-icon-114x114.png') %%">
  <link rel="apple-touch-icon" sizes="120x120" href="%% url_for('static', filename='/apple-touch-icon-120x120.png') %%">
  <link rel="apple-touch-icon" sizes="144x144" href="%% url_for('static', filename='/apple-touch-icon-144x144.png') %%">
  <link rel="apple-touch-icon" sizes="152x152" href="%% url_for('static', filename='/apple-touch-icon-152x152.png') %%">
  <link rel="apple-touch-icon" sizes="180x180" href="%% url_for('static', filename='/apple-touch-icon-180x180.png') %%">
  <link rel="icon" type="image/png" href="%% url_for('static', filename='/favicon-32x32.png') %%" sizes="32x32">
  <link rel="icon" type="image/png" href="%% url_for('static', filename='/android-chrome-192x192.png') %%" sizes="192x192">
  <link rel="icon" type="image/png" href="%% url_for('static', filename='/favicon-96x96.png') %%" sizes="96x96">
  <link rel="icon" type="image/png" href="%% url_for('static', filename='/favicon-16x16.png') %%" sizes="16x16">
  <link rel="manifest" href="%% url_for('static', filename='/manifest.json') %%">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="%% url_for('static', filename='/mstile-144x144.png') %%">
  <meta name="theme-color" content="#ffffff">
  
  <link href='//fonts.googleapis.com/css?family=Roboto:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <!-- build:css(lstn) /static/dist/css/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/static/bower_components/fontawesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(lstn) /static/dist/css/lstn.css -->
  <link rel="stylesheet" href="/static/css/app.css" />
  <!-- endbuild -->

</head>
<body data-ng-controller="AppController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="alerts">
        <div class="alert alert-danger alert-dismissable" data-ng-show="alerts.danger.length > 0" data-ng-cloak>
          <button type="button" class="close" data-ng-click="dismissAlert('danger')" data-dismiss="alert">&times;</button>
          <span data-ng-bind="alerts.danger[0]"></span>
        </div>
        <div class="alert alert-warning alert-dismissable" data-ng-show="alerts.warning.length > 0 && alerts.danger.length === 0" data-ng-cloak>
          <button type="button" class="close" data-ng-click="dismissAlert('warning')" data-dismiss="alert">&times;</button>
          <span data-ng-bind="alerts.warning[0]"></span>
        </div>
        <div class="alert alert-info alert-dismissable" data-ng-show="alerts.info.length > 0 && alerts.warning.length === 0 && alerts.danger.length === 0" data-ng-cloak>
          <button type="button" class="close" data-ng-click="dismissAlert('info')" data-dismiss="alert">&times;</button>
          <span data-ng-bind="alerts.info[0]"></span>
        </div>
        <div class="alert alert-success alert-dismissable" data-ng-show="alerts.success.length > 0 && alerts.info.length === 0 && alerts.warning.length === 0 && alerts.danger.length === 0" data-ng-cloak>
          <button type="button" class="close" data-ng-click="dismissAlert('success')" data-dismiss="alert">&times;</button>
          <span data-ng-bind="alerts.success[0]"></span>
        </div>
      </div>

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="%% url_for('static', filename='images/lstn.png') %%" alt="Lstn"></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <% if current_user.is_authenticated() %>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/rooms">Rooms</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">%% current_user.name %% <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://www.rdio.com%% current_user.profile %%" target="_blank">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout" target="_self">Logout</a></li>
            </ul>
          </li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav navbar-right navbar--login">
          <li><div><a class="btn btn-success navbar-btn" href="/login" target="_self">Login</a></div></li>
        </ul>
        <% endif %>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="content" class="container" data-ng-view></div>
  <div id="apiswf"></div>
  
  <!-- build:js(lstn) /static/dist/js/vendor.js -->
  <!-- bower:js -->
  <script src="/static/bower_components/modernizr/modernizr.js"></script>
  <script src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script src="/static/bower_components/angular/angular.js"></script>
  <script src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/static/bower_components/angular-resource/angular-resource.js"></script>
  <script src="/static/bower_components/angular-route/angular-route.js"></script>
  <script src="/static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/static/bower_components/swfobject/swfobject/swfobject.js"></script>
  <script src="/static/bower_components/holderjs/holder.js"></script>
  <script src="/static/bower_components/angular-socket-io/socket.js"></script>
  <script src="/static/bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="/static/bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="/static/bower_components/moment/moment.js"></script>
  <script src="/static/bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="/static/bower_components/angular-emoji-map/angular-emoji-map.js"></script>
  <!-- endbower -->
  <script src="/static/bower_components/angular-twemoji/dist/angular-twemoji.js"></script>
  <!-- endbuild -->

  <script src="/socket.io/socket.io.js"></script>
  <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>

  <!-- build:js(lstn) /static/dist/js/lstn.js -->
  <script src="/static/js/config.js"></script>
  <script src="/static/js/controllers.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/filters.js"></script>
  <script src="/static/js/directives.js"></script>
  <script src="/static/js/templates.js"></script>
  <script src="/static/js/app.js"></script>
  <!-- endbuild -->

  <div id="user" style="display: none;">%% user_json | safe %%</div>
  </body>
</html>
