<div id="album-{{ $id }}" class="drilldown__item album">
  <div class="item__image">
    <img data-ng-src="{{ album.icon }}" alt="{{ album.album }}">
    <div class="item__image__overlay" data-ng-if="favorites.bitset[album.key]"></div>
    <i class="fa fa-heart item__image__overlay__icon" data-ng-if="favorites.bitset[album.key]"></i>
  </div>
  <div class="item__info">
    <div
      class="item__title"
      data-ng-bind="album.name"></div>
    <div
      class="item__artist"
      data-ng-bind="album.artist"></div>
    <div class="item__count" data-ng-pluralize count="album.length" when="{'one': '{} track', 'other': '{} tracks'}"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!album.loading"
      data-ng-click="load(album)"
      data-tooltip="Load Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="album.loading"
      data-tooltip="Loading Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
  </div>
</div>
