<div id="album-{{ $id }}-{{ index }}-{{ album.key }}" class="drilldown__item album clearfix">
  <div class="item__image">
    <img data-ng-src="{{ album.icon }}" alt="{{ album.album }}" title="{{ album.album }}">
  </div>
  <div class="item__info">
    <div
      class="item__title"
      title="{{ album.name }}"
      data-ng-bind="album.name"></div>
    <div
      class="item__artist"
      title="{{ album.artist }}"
      data-ng-bind="album.artist"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!album.loadingTracks"
      data-ng-click="loadAlbumTracks(album)"
      title="View Tracks"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="album.loadingTracks"
      title="Loading Tracks"></a>
  </div>
</div>
