<div id="artist-{{ $id }}-{{ index }}-{{ artist.key }}" class="drilldown__item artist clearfix">
  <div class="item__image">
    <img data-ng-src="{{ artist.icon }}" alt="{{ artist.artist }}" title="{{ artist.artist }}">
  </div>
  <div class="item__info">
    <div
      class="item__title"
      title="{{ artist.name }}"
      data-ng-bind="artist.name"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!artist.loadingAlbums"
      data-ng-click="loadAlbums(artist)"
      title="View Albums"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="artist.loadingAlbums"
      title="Loading Albums"></a>
  </div>
</div>
