<div id="artist-{{ $id }}" class="drilldown__item artist clearfix">
  <div class="item__image">
    <img data-ng-src="{{ artist.icon }}" alt="{{ artist.artist }}">
  </div>
  <div class="item__info">
    <div
      class="item__title"
      data-ng-bind="artist.name"></div>
    <div class="item__count" data-ng-pluralize count="artist.albumCount" when="{'one': '{} album', 'other': '{} albums'}"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!artist.loading"
      data-ng-click="load(artist)"
      data-tooltip="Load Albums"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="artist.loading"
      data-tooltip="Loading Albums"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
  </div>
</div>
