<div id="category{{ $id }}" class="drilldown__item category clearfix">
  <div class="item__image">
    <i class="fa fa-fw fa-music fa-3x"></i>
  </div>
  <div class="item__info">
    <div
      class="item__title"
      data-ng-bind="category.name"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!category.loadingLists"
      data-ng-click="loadLists(category)"
      data-tooltip="Load Playlists"
      data-tooltip-placement="bottom"
      data-tooltip-popup-delay="1000"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="category.loadingLists"
      data-tooltip="Loading Playlists"
      data-tooltip-placement="bottom"
      data-tooltip-popup-delay="1000"></a>
  </div>
</div>
