<div class="more-music">
  <div class="search__box">
    <input
      type="search"
      class="form-control"
      data-ng-model="searchQuery"
      placeholder="Search music...">
  </div>

  <lstn-carousel
    data-context="more-music"
    data-root="musicRoot"
    data-ng-show="!searchQuery || searchQuery.length === 0"
    data-ng-if="musicRoot"></lstn-carousel>

  <lstn-carousel
    data-context="search"
    data-root="searchRoot"
    data-ng-show="searchQuery && searchQuery.length > 0"
    data-ng-if="searchRoot"></lstn-carousel>
</div>
