<div class="playing__info-container">
  <div class="playing__info playing__info--playing" data-album-cover-background data-ng-style="playingStyle">
    <h3 class="playing__title" data-ng-bind="playing.song.title | truncate:28"></h3>
    <h4 class="playing__artist" data-ng-bind="playing.song.artist | truncate:35"></h4>
    <lstn-room-controls></lstn-room-controls>
  </div>  
  <!-- TOOD: why is there a gap here? (fixed by negative top margin). -->
  <div style="margin-top:-10px" class="progress" data-ng-show="playing.song.duration && playing.song.canStream">
    <div id="progress" class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="{{ playing.song.duration }}"></div>
    <span id="time" class="time"></span>
  </div>
</div>
