<div id="playlist{{ $id }}" class="playlist panel panel-success">
  <div class="panel-heading" role="tab" id="heading{{ $id }}">
    <h4 class="panel-title">
      <a data-ng-click="toggleOpen()" aria-expanded="{{ status.open }}" aria-controls="content{{ $id }}" data-parent="#{{ category }}">
        <span data-ng-bind="playlist.name | truncate:28" title="{{ playlist.name }}"></span>
        <span class="pull-right glyphicon glyphicon-chevron-right" data-ng-class="{'glyphicon-chevron-down': status.open && !showLoading, 'glyphicon-chevron-right': !status.open && !showLoading, 'glyphicon-refresh spinning': showLoading}"></span>
      </a>
    </h4>
  </div>
  <div id="content{{ $id }}" class="panel-collapse" collapse="!status.open" role="tabpanel" aria-labeledby="heading{{ $id }}">
    <div class="playlist__tracks panel-body">
      <lstn-track-list data-cutoff="28"></lstn-track-list>
    </div>
  </div>
</div>
