<div id="playlist{{ $id }}" class="drilldown__item playlist clearfix">
  <div class="item__image">
    <img data-ng-src="{{ playlist.icon }}" alt="{{ playlist.name }}">
    <div class="item__image__overlay" data-ng-if="favorites.bitset[playlist.key]"></div>
    <i class="fa fa-heart item__image__overlay__icon item__image__overlay__icon--favorite" data-ng-if="favorites.bitset[playlist.key]"></i>
  </div>
  <div class="item__info">
    <div
      class="item__title item__title--couple"
      data-ng-bind="playlist.name"></div>
    <div class="item__count" data-ng-pluralize count="playlist.length" when="{'one': '{} track', 'other': '{} tracks'}"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!playlist.loading"
      data-ng-click="load(playlist)"
      data-tooltip="Load Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="playlist.loading"
      data-tooltip="Loading Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
  </div>
</div>
