<span>
  <button
    type="button"
    data-ng-hide="playing.upvoted || isCurrentController"
    data-ng-disabled="!playing.track.key || isCurrentController || playing.track.voted"
    class="control__button btn btn-success"
    aria-label="Upvote"
    data-ng-click="upvote()"
    data-tooltip="Upvote"
    data-tooltip-placement="bottom"
    data-tooltip-popup-delay="1000">
    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
  </button>
  <button
    type="button"
    data-ng-show="playing.upvoted"
    disabled="disabled"
    class="control__button btn btn-success"
    aria-label="Upvoted"
    data-tooltip="Upvoted"
    data-tooltip-placement="bottom"
    data-tooltip-popup-delay="1000">
    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
  </button>
</span>
