<div class="rooms__container">
  <table class="table table-striped rooms">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="owner">Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-show="(!rooms || rooms.length === 0) && !showCreateRoom && !loading" class="rooms__empty">
        <td colspan="3" class="text-center">
          <h3>
            You don't have any rooms yet. <a data-ng-click="createRoom()">Create one</a> now.
          </h3>
        </td>
      </tr>
      <tr data-ng-repeat="room in rooms" data-ng-show="rooms && rooms.length > 0 && !loading">
        <td data-ng-show="!room.editing"><a data-ng-href="/room/{{ room.slug }}" data-ng-bind="room.name"></a></td>
        <td data-ng-show="room.editing" class="form-inline">
          <label for="room-name" class="sr-only">Room Name</label>
          <input type="text" id="room-name" data-ng-model="room.name" class="form-control" placeholder="Room Name" />
        </td>
        <td data-ng-bind="room.owner.name"></div>
        <td data-ng-show="!room.editing">
          <button class="btn btn-default" data-ng-click="editRoom($index)">Edit</button>
          <button class="btn btn-default" data-ng-click="deleteRoom($index)">Delete</button>
        </td>
        <td data-ng-show="room.editing">
          <button class="btn btn-primary" data-ng-click="saveEditRoom($index)">Save</button>
          <button class="btn btn-default" data-ng-click="cancelEditRoom($index)">Cancel</button>
        </td>
      </tr>
      <tr data-ng-show="showCreateRoom">
        <td class="form-inline">
          <label for="room-name" class="sr-only">Room Name</label>
          <input type="text" id="room-name" data-ng-model="newRoom.name" class="form-control" placeholder="Room Name" />
        </td>
        <td></td>
        <td>
          <button class="btn btn-primary" data-ng-click="saveCreateRoom()">Create</button>
          <button class="btn btn-default" data-ng-click="cancelCreateRoom()">Cancel</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
