<div class="room-activity">
  <input
    id="chat-input"
    type="text"
    placeholder="Send message..."
    data-mentio
    data-mentio-id="'chat-input'"
    data-ng-trim="false"
    class="form-control chat__input"
    data-ng-show="!chat.loading"
    data-ng-model="message.text"
    data-lstn-enter="sendMessage()"></input>

  <mentio-menu
    id="mention-menu"
    mentio-for="'chat-input'"
    mentio-trigger-char="'@'"
    mentio-items="mentionNames"
    mentio-template-url="/static/partials/directives/roster-mention.html"
    mentio-search="searchRoster(term)"
    mentio-select="getUser(item)"></mentio-menu>

  <mentio-menu
    id="emoticon-menu"
    class="emoticon-menu"
    mentio-for="'chat-input'"
    mentio-trigger-char="':'"
    mentio-items="emoticons"
    mentio-template-url="/static/partials/directives/emoticon-list.html"
    mentio-search="searchEmoticons(term)"
    mentio-select="getEmoticon(item)"></mentio-menu>

  <ul id="messages" class="messages list-group" data-ng-show="!chat.loading && chat.messages && chat.messages.length > 0">
    <li data-ng-repeat="item in chat.messages">
      <lstn-chat-message data-message="item"></lstn-chat-message>
    </li>
  </ul>
  <div class="messages--empty" data-ng-show="!chat.loading && (!chat.messages || chat.messages.length === 0)"></div>
  <div class="messages--loading" data-ng-show="chat.loading">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
