<span>
  <button
    type="button"
    class="control__button btn btn-success"
    aria-label="Upvote"
    data-ng-if="!playing.upvoted && !isCurrentController && playing.track.key"
    data-ng-click="upvote()"
    data-tooltip="Upvote"
    data-tooltip-placement="bottom">
    <i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>
  </button>
  <button
    type="button"
    class="control__button btn btn-success"
    aria-label="Upvoted"
    disabled="disabled"
    data-ng-if="playing.upvoted"
    data-tooltip="Upvoted"
    data-tooltip-placement="bottom">
    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
  </button>
</span>
