<span>
  <button
    type="button"
    data-ng-show="!playing.downvoted && !isCurrentController"
    data-ng-disabled="!playing.track.key || playing.track.voted"
    class="control__button btn btn-danger"
    aria-label="Downvote"
    data-ng-click="downvote()"
    data-tooltip="Downvote"
    data-tooltip-placement="bottom">
    <i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>
  </button>
  <button
    type="button"
    data-ng-show="playing.downvoted"
    disabled="disabled"
    class="control__button btn btn-danger"
    aria-label="Downvoted"
    data-tooltip="Downvoted"
    data-tooltip-placement="bottom">
    <i class="fa fa-check fa-lg" aria-hidden="true"></i>
  </button>
</span>
