<div class="playing__container room__container">
  <div class="row no-gutters">
    <div class="col-md-4 col-sm-3">
      <lstn-playing-image></lstn-playing-image>
    </div>
    <div class="col-md-8 col-sm-9">
      <lstn-playing-info></lstn-playing-info>
      <lstn-visualizer data-ng-show="visualize && playing.song"></lstn-visualizer>
    </div>
  </div>
  <div class="row">
    <lstn-room-controls></lstn-room-controls>
  </div>
  <div class="row">
    <lstn-room-queue></lstn-room-queue>
  </div>
</div>
