<span>
  <button data-ng-show="!mute" data-ng-disabled="!playing.track.key" type="button" class="control__button btn btn-default btn-lg" aria-label="Mute" data-ng-click="toggleMute()" title="Mute">
    <i class="fa fa-volume-off" aria-hidden="true"></i>
  </button>
  <button data-ng-show="mute" data-ng-disabled="!playing.track.key" type="button" class="control__button btn btn-default btn-lg" aria-label="Unmute" data-ng-click="toggleMute()" title="Unmute">
    <i class="fa fa-lg fa-volume-up" aria-hidden="true"></i>
  </button>
</span>
