<div class="roster__container room__container">
  <div class="roster__broadcasting">
    <div data-ng-show="isController" class="broadcasting broadcasting--on">
      <a data-ng-click="toggleBroadcast()">
        <i class="fa fa-microphone-slash"></i>
        <div class="broadcasting-btn">STOP BROADCASTING</div>
      </a>
    </div>
    <div data-ng-show="!isController" class="broadcasting broadcasting--off" data-ng-class="{'broadcasting--disabled': !queue || !queue.tracks || queue.tracks.length === 0}">
      <a data-ng-click="toggleBroadcast()" data-ng-if="queue && queue.tracks && queue.tracks.length > 0">
        <i class="fa fa-microphone"></i>
        <div class="broadcasting-btn">START BROADCASTING</div>
      </a>
      <span data-ng-if="!queue || !queue.tracks || queue.tracks.length === 0" data-tooltip="You can't broadcast without tracks in your queue" data-tooltip-placement="bottom">
        <i class="fa fa-microphone"></i>
        <div class="broadcasting-btn">START BROADCASTING</div>
      </span>
    </div>
  </div>

  <div class="roster__category">
    <div class="roster__category-label">Broadcasting</div>
    <ul class="roster roster--controllers">
      <li class="empty" data-ng-show="!roster || roster.controllersCount === 0">No Broadcasters</li>
      <li class="roster__item--controller"
        data-ng-show="roster && roster.controllersCount > 0" data-ng-repeat="user_id in roster.controllerOrder">
        <a data-ng-href="http://www.rdio.com{{ roster.controllers[user_id].profile }}" target="_blank"
          tooltip="{{ roster.controllers[user_id].name }} ({{ roster.controllers[user_id].points }})" data-tooltip-placement="bottom">
          <img data-ng-src="{{ roster.controllers[user_id].picture }}" class="avatar xs"
            data-ng-class="{upvoted: playing.upvotes[user_id], downvoted: playing.downvotes[user_id]}"
            alt="{{ roster.controllers[user_id].name }}" />
            <i data-ng-if="user_id === currentController" class="fa fa-volume-up" />
        </a>
      </li>
    </ul>
  </div>

  <div class="roster__category">
    <div class="roster__category-label">Listening</div>
    <ul class="roster roster--listeners" data-ng-show="roster && roster.usersCount > 0">
      <li class="empty" data-ng-show="!roster || roster.users.length === 0">No Listeners</li>
      <li data-ng-repeat="(user_id, user) in roster.users | orderBy:name">
      <a class="roster__user"
        data-ng-href="http://www.rdio.com{{ user.profile }}"
        target="_blank"
        tooltip="{{ user.name }} ({{ user.points }})" data-tooltip-placement="bottom">
        <img data-ng-src="{{ user.picture }}"
        data-ng-class="{upvoted: playing.upvotes[user_id], downvoted: playing.downvotes[user_id]}"
        class="avatar xs" alt="{{ user.name }}" />
      </a>
      </li>
    </ul>
  </div>
</div>
