<div class="playing__actions col-md-12 text-center">
  <div class="playing__actions__container panel panel-default">
    <button data-ng-show="!mute" data-ng-disabled="!playing.song.key" type="button" class="btn btn-default btn-lg" aria-label="Unmute" data-ng-click="toggleMute()" title="Unmute">
      <span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="mute" data-ng-disabled="!playing.song.key" type="button" class="btn btn-default btn-lg" aria-label="Mute" data-ng-click="toggleMute()" title="Mute">
      <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="!isCurrentController" type="button" data-ng-disabled="!playing.song.key || playing.song.voted" class="btn btn-danger btn-lg" aria-label="Downvote" data-ng-click="downvote()" title="Downvote">
      <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="isCurrentController" type="button" data-ng-disabled="!playing.song.key" class="btn btn-danger btn-lg" aria-label="Skip Song" data-ng-click="skipSong()" title="Skip Song">
      <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="isController" type="button" class="btn btn-primary btn-lg" aria-label="Stop Broadcasting" data-ng-click="toggleBroadcast()" title="Stop Broadcasting">
      <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>
    </button>
    <button data-ng-show="!isController" data-ng-disabled="!queue || queue.length === 0" type="button" class="btn btn-primary btn-lg" aria-label="Start Broadcasting" data-ng-click="toggleBroadcast()" title="Start Broadcasting">
      <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
    </button>
    <button type="button" data-ng-disabled="!playing.song.key || isCurrentController || playing.song.voted" class="btn btn-success btn-lg" aria-label="Upvote" data-ng-click="upvote()" title="Upvote">
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="visualize" data-ng-disabled="!playing.song.key" type="button" class="btn btn-default btn-lg" aria-label="Show Visualizer" data-ng-click="toggleVisualize()" title="Show Visualizer">
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 
    </button>
    <button data-ng-show="!visualize" data-ng-disabled="!playing.song.key" type="button" class="btn btn-default btn-lg" aria-label="Hide Visualizer" data-ng-click="toggleVisualize()" title="Hide Visualizer">
      <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span> 
    </button>
   </div>
</div>
