<div class="queue__container">
  <div class="queue__controls" data-ng-show="queue.tracks && queue.tracks.length > 0">
    <button class="btn" data-ng-click="queue.toggleShuffle()" data-ng-class="{'toggled': queue.shuffle}">
      <i class="fa fa-fw fa-random"></i>
      Shuffle
    </button><!--
    --><button class="btn btn-default" data-ng-click="queue.clearTracks()">
      <i class="fa fa-fw fa-times"></i>
      Clear
    </button>
  </div>
  <ul id="queue" class="queue queue--full track__list drilldown__list" data-ng-show="queue.tracks && queue.tracks.length > 0" data-ui-sortable="sortableOptions" ng-model="queue.tracks">
    <li data-ng-repeat="track in queue.tracks">
      <lstn-track
        data-track="track"
        data-context="'queue'"
        data-index="$index"></lstn-track>
    </li>
  </ul>
  <div class="queue--empty text-center" data-ng-show="!queue.tracks || queue.tracks.length === 0">
    <i class="fa fa-circle-o-notch fa-spin"></i>
  </div>
</div>
