<div class="slide">
  <div class="carousel__back text-left" data-ng-show="current.type === 'search'">
    <a data-ng-click="current.clear()">
      <i class="fa fa-fw fa-times-circle-o"></i> Clear Search Results
    </a>
    <div class="carousel__action pull-right" data-ng-show="current.loading">
      <i class="fa fa-circle-o-notch fa-lg fa-spin"></i>
    </div>
  </div>

  <lstn-drilldown-back
    data-ng-if="current.position > 0"
    data-click-handler="close"
    data-refresh-handler="refresh"
    data-bulk-add-handler="addTracks"
    data-current="current"></lstn-drilldown-back>
  <ul class="drilldown__list text-left">
    <lstn-drilldown-item
      data-ng-if="current.radioKey"
      data-context="{{ current.type }}"
      data-radio="current"
      data-load="load"></lstn-drilldown-item>

    <li data-ng-repeat="item in data">
      <div data-ng-switch="getType(item.type)">
        <lstn-track
          data-ng-switch-when="track"
          data-context="{{ current.type }}"
          data-track="item"
          data-index="$index"></lstn-track>

        <lstn-drilldown-item
          data-ng-switch-default
          data-context="{{ current.type }}"
          data-content="item"
          data-load="load"></lstn-drilldown-item>
      </div>
    </li>
  </ul>
</div>
