<div id="station{{ $id }}" class="drilldown__item station clearfix">
  <div class="item__image">
    <img data-ng-src="{{ station.icon }}" alt="{{ station.name }}">
  </div>
  <div class="item__info">
    <div
      class="item__title item__title--single"
      data-ng-bind="station.name"></div>
  </div>
  <div class="item__actions">
    <a
      class="fa fa-fw fa-chevron-right"
      data-ng-show="!station.loading"
      data-ng-click="load(station)"
      data-tooltip="Load Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
    <a
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="station.loading"
      data-tooltip="Loading Tracks"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></a>
  </div>
</div>
