<li id="track-{{ $id }}-{{ $index }}-{{ item.key }}" class="music__item track clearfix">
  <div class="music__image">
    <img data-ng-src="{{ item.icon }}" alt="{{ item.album }}" title="{{ item.album }}">
  </div>
  <div class="music__info">
    <div
      class="music__title"
      data-ng-class="{'text-muted': context === 'playlist' && queueBitset[item.key]}"
      title="{{ item.name }}"
      data-ng-bind="item.name | truncate:cutoff"></div>
    <div
      class="music__artist"
      data-ng-class="{'text-muted': context === 'playlist' && queueBitset[item.key]}"
      title="{{ item.artist }}"
      data-ng-bind="item.artist | truncate:cutoff"></div>
  </div>
  <div class="music__actions">
    <a
      class="fa fa-fw fa-chevron-up"
      data-ng-show="item.in_queue && context === 'queue'"
      data-ng-click="moveToTopOfQueue($index)"
      title="Move to Top of Queue"></a>
    <i
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="item.addingToQueue || item.removingFromQueue"></i>
    <a
      class="fa fa-fw fa-plus"
      data-ng-hide="item.addingToQueue || item.in_queue || queueBitset[item.key]"
      data-ng-click="addTrackToQueue(track)"
      title="Add to Queue"></a>
    <a
      class="fa fa-fw fa-minus"
      data-ng-show="(item.in_queue || queueBitset[item.key]) && context==='queue' && !item.removingFromQueue"
      data-ng-click="removeTrackFromQueue(track, $index)"
      title="Remove from Queue"></a>
    <i
      class="fa fa-fw fa-check"
      data-ng-show="(item.in_queue || queueBitset[item.key]) && context==='playlist'"
      title="This track is already in your queue"></i>
  </div>
</li>
