<div id="track-{{ $id }}" class="drilldown__item track">
  <div class="item__image">
    <img data-ng-src="{{ track.icon }}" alt="{{ track.album }}">
  </div>
  <div class="item__info">
    <div
      class="item__title"
      data-ng-class="{'text-muted': (context !== 'queue' && queue.bitset[track.key]) || !track.canStream}"
      data-ng-bind="track.name"></div>
    <div
      class="item__artist"
      data-ng-class="{'text-muted': (context !== 'queue' && queue.bitset[track.key]) || !track.canStream}"
      data-ng-bind="track.artist"></div>
    <div
      class="item__duration text-muted"
      data-ng-bind="track.duration | duration"></div>
  </div>
  <div class="item__actions">
    <i
      class="fa fa-exclamation-triangle"
      data-ng-show="!track.canStream"
      data-tooltip="This track can't be streamed in your region"
      data-tooltip-placement="left"></i>
    <i
      class="fa fa-exclamation-triangle"
      data-ng-show="track.canStream && track.restrictedRegions"
      data-tooltip="This track has limited regional availability"
      data-tooltip-placement="left"></i>
    <i
      class="fa fa-fw fa-circle-o-notch fa-spin"
      data-ng-show="track.processing"></i>
    <i
      class="fa fa-fw fa-check"
      data-ng-show="(track.in_queue || queue.bitset[track.key]) && context !== 'queue'"
      data-tooltip="This track is already in your queue"
      data-tooltip-placement="left"
      data-tooltip-popup-delay="1000"></i>

    <span class="dropdown" data-dropdown data-is-open="status.open">
      <a
        class="fa fa-fw fa-ellipsis-v"
        data-ng-hide="track.processing || ((track.in_queue || queue.bitset[track.key]) && context !== 'queue')"
        data-ng-click="toggleDropdown($event)"></a>
      <ul
        class="dropdown-menu dropdown-menu-right"
        data-ng-hide="track.processing"
        role="menu">
        <li data-ng-show="track.in_queue && context === 'queue'">
          <a data-ng-click="queue.moveToTop(index)">
            <i class="fa fa-fw fa-arrow-circle-up item__actions__move-to-top"></i>
            Move to Top of Queue
          </a>
        </li>
        <li data-ng-show="track.in_queue && context === 'queue'">
          <a data-ng-click="queue.moveToBottom(index)">
            <i class="fa fa-fw fa-arrow-circle-down item__actions__move-to-bottom"></i>
            Move to Bottom of Queue
          </a>
        </li>
        <li data-ng-show="(track.in_queue || queue.bitset[track.key]) && context === 'queue'">
          <a data-ng-click="queue.removeTrack(track, index)">
            <i class="fa fa-fw fa-minus-circle"></i>
            Remove From Queue
          </a>
        </li>
        <li data-ng-hide="!track.canStream || track.in_queue || queue.bitset[track.key]">
          <a data-ng-click="queue.addTrack(track, 'top')">
            <i class="fa fa-fw fa-plus-circle item__actions__add"></i>
            Add to Top of Queue
          </a>
        </li>
        <li data-ng-hide="!track.canStream || track.in_queue || queue.bitset[track.key]">
          <a data-ng-click="queue.addTrack(track)">
            <i class="fa fa-fw fa-plus-circle item__actions__add"></i>
            Add to Bottom of Queue
          </a>
        </li>
        <li class="divider" data-ng-hide="!track.canStream && context != 'queue'"></li>
        <li data-ng-hide="favorites.bitset[track.key]">
          <a data-ng-click="favorites.addTrack(track)">
            <i class="fa fa-fw fa-heart item__actions__favorite"></i>
            Favorite Track
          </a>
        </li>
        <li data-ng-show="favorites.bitset[track.key]">
          <a data-ng-click="favorites.removeTrack(track)">
            <i class="fa fa-fw fa-heart-o item__actions__unfavorite"></i>
            Unfavorite Track
          </a>
        </li>
      </ul>
    </span>
    <i
      class="fa fa-fw fa-bars item__actions__drag-handle"
      data-ng-show="track.in_queue && context === 'queue'"></i>
  </div>
</div>
