$rdio-red: #E84961;
$rdio-blue: #008fd5;

$background-color: #333;

$accent-color: #3d3d3d;
$accent-text-color: #ffffff;

$active-color: #d24242;
$active-text-color: #ffffff;

$first-layer: #eee;
$first-layer-text-color: #333;

$second-layer: #ddd;
$second-layer-text-color: #333;

$activity-success: #2ecc71;
$activity-primary: #2573a6;
$activity-default: #777;
$activity-danger: #e74c3c;

$action-additive: #5cb85c; 

$broadcasting-on-light: #aa403d;
$broadcasting-on-dark: #883331;
$broadcasting-off-light: #2fa661;
$broadcasting-off-dark: #1e8c4d;
