$rdio-red: #E84961;
$rdio-blue: #008fd5;

$background-color: #333;
$accent-color: #3d3d3d;
$active-color: #d24242;
$front-layer: #eee;

$activity-success: #2ecc71;
$activity-primary: #2573a6;
$activity-default: #777;
$activity-danger: #e74c3c;
