@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "variables";

html, body {
  height: 100%;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

img.avatar {
  @include border-radius(50%);

  &.upvoted {
    border: 2px solid #4cae4c;
  }
  &.downvoted {
    border: 2px solid #d43f3a;
  }
  &.xs {
    width:39px;
    height:39px;
  }
  &.sm {
    width: 50px;
    height:50px;
  }
  &.md {
    width: 64px;
    height: 64px;
  }
  &.lg {
    width: 75px;
    height: 75px;
  }
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: $background-color;

  > .container {
    padding: 0 15px 0;

    > div {
      margin-top: 15px;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  @include border-radius(1em);
}

.navbar-inverse {
  border: none;
  background-color: $accent-color;
  min-height: 70px;
  font-size: 1.4em;

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-text {
    margin-top: 0.95em;
  }

  .navbar-nav {
    > li {
      > a {
        &.navbar__name {
          color: #FFFFFF;
          padding-left: 10px;
        }
      }
    }

    > .open {
      > a {
        background-color: $background-color;

        &:focus, &:hover {
          background-color: $background-color;
        }
      }
    }
  }
}

.navbar-logo {
  font-family: 'signo';
  font-size: 1.8em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 0.26em;

  &:link {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.navbar-right {
  &.navbar--login {
    margin-right: 5px;
  }

  .navbar__rooms {
    margin-right: 5px;

    a {
      color: white;
    }
  }

  .navbar__divider {
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF;
  }

  .navbar__room {
    margin-left: 5px;

    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .navbar__photo {
    border: 2px solid #FFFFFF;
    margin-right: 5px;
  }
}

.alerts {
  z-index: 2000;
  width: 50%;

  position: fixed;
  top: 5px;
  left: 25%;

  .alert {
    padding: 9px 35px 9px 9px;
    text-align: center;
  }
}

.lstn {
  color: $rdio-red;
}

.rdio {
  color: $rdio-blue;
}

.hero {
  color: white;
  text-align: center;

  background: url(/static/images/hero.jpg) no-repeat center center;
  @include background-size(cover);

  margin-bottom: 60px;

  h1 {
    font-size: 70px;
  }
  
  p {
    font-size: 30px;
  }
}

.front__info__container {
  margin-bottom: 30px;
 }

.front__info {
  text-align: center;
  .glyphicon {
    font-size: 3em;
  }
}

.rooms__container {
  border: 1px solid #DDD;
  @include border-radius(4px);
}

.rooms {
  margin-bottom: 0;

  th.name {
    width: 50%;
  }

  th.owner {
    width: 35%;
  }

  td {
    .btn {
      width: 70px;
    }
  }

  .rooms__empty {
    td {
      text-align: center;
      height: 150px;
      padding-top: 44px;

      a {
        cursor: pointer;
      }
    }
  }
}

.room {
  .room__left {
    padding-left: 0;
    padding-right: 0;
  }

  .room__middle {
    padding-left: 15px;
    padding-right: 15px;
  }

  .room__right {
    padding-left: 0;
    padding-right: 0;
  }
}

.playing__info-container {
  margin-bottom:36px;
}
.playing__info--stopped {

  background: #3d3d3d;
  min-height: 180px;
  line-height: 180px;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;

  .fa.fa-play-circle {
    font-size: 8rem;
    line-height: 180px;
    color: #5cb85c;
  }
}
.playing__info--playing {
  min-height:180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.4);
  padding: 1em;
  min-height: 180px;

  h3, h4 {
    color: #fff;
    margin:0;
  }

  .playing__title {
    margin-top: 1em;
    font-weight: 700;
    font-size:22px;
  }

  .playing__artist {
    font-weight: 100;
  }
}

.playing__controls {
  margin-top: 1em;
}

.control__button {
  @include border-radius(0);
  opacity: 1;
  width:50px;
  height:50px;
  font-size:18px;

}

.roster__category {
  margin-bottom:36px;
}

.roster__container {
  border: none;
  border-radius: 0;
  .roster__category-label {
    color:#fff;
    text-transform:uppercase;

    .fa.fa-stop {
      color: #d9534f;
    }
    .fa.fa-play-circle {
      color:#5cb85c;
    }
  }

  ul.roster {
    padding:0;
    margin:0;
    list-style-type: none;

    
    li {  
      display:inline;
      margin-right:6px;

      &.empty {
        display: inline-block;
        width:100%;
        background-color:#eee;
        padding:6px;

      }

      &.roster__item--controller {
        
        a {
          position: relative;
          .fa.fa-volume-up {
            position: absolute;
            top: 10px;
            left: 28px;
            z-index:1;
            background: #337ab7;
            padding: 4px;
            border-radius: 50%;
            color: #fff;
            font-size: 0.9rem;
            border: 1px solid #fff;
          }
        }
      }
    }
  }

  .roster__user {
    img {
      margin: 5px;
    }
  }
}


.progress {
  border: none;
  background-color: $first-layer;

  @include border-radius(0);

  .time {
    display: block;
    position: absolute;
    right: 0;
    margin-right: .5em;
  }
}

.queue__tabs {
  min-height: 400px;
  background-color: $accent-color;

  .nav-tabs {
    > li {
      width: 50%;
      background-color: $accent-color;

      &.active {
        background-color: $active-color;

        > a {
          &:hover, &:focus {
            background-color: $active-color;
            border: 0;
            color: white;
          }
        }
      }

      > a {
          margin: 0;
          padding: 8px 0 8px 0;
          @include border-radius(0);
          border: 0;
          text-align: center;
          background: none;
          color: $active-text-color;
          font-weight: 700;
      }
    }
  }
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > * {
      margin-bottom: 5px;
  }

  accordion {
    > .panel-group {
      height: 450px;
    }
  }
}

.queue--empty {
  font-size: 10em;
  color: $background-color;
  line-height: 400px;
}

.messages--empty {
  min-height: 436px;
  font-size: 10em;
  color: $background-color;
  line-height: 400px;
  padding-top: 36px;
}

.drilldown__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.drilldown__item {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 4px solid $accent-color;
}

.item__image {
  width: 13%;
  min-height: 60px;
  float: left;

  img {
    width: 60px;
    height: 60px;
  }

  .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

.item__info {
  float: left;
  width: 75%;
  line-height: 1.23;

  padding: 3px 0 0 5px;
  
  .item__top {
    float: right;
    margin: 12px 10px 0px 5px;
    cursor: pointer;
  }

  .item__title {
    font-weight: bold;
    font-size: 16px;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .item__artist {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item__actions {
  float: right;
  margin-right: 15px;
  line-height: 50px;

  .fa {
    cursor:pointer;
    color: $active-color;
    text-decoration: none;
    line-height: 60px;
  }
}

.messages {
  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;

  .container {
    .text-muted {
      margin: 12px 0;
    }
  }
}

.clear {
  clear: both;
}

.error-message {
    margin-top: 1em;
}

.user-search {
  .user-photo {
    max-width: 30px;
    max-height: 30px;
    @include border-radius(15px);
  }

  .list-group-item {
    padding: 5px;

    &.active {
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;

      .text-muted {
        color: #ccc;
      }

      .text-primary {
        color: #fff;
      }
    }
  }
}

.emoticon-list {
  .list-group-item {
    padding: 5px;
    display: inline-block;
    float: left;

    &:nth-child(15n) {
      clear: left;
    }

    &.active {
      background-color: #428bca;
      border-color: #428bca;
    }
  }
}

.mentioned {
  @include animation(mentioned 5s infinite ease);
}

@include keyframes(mentioned) {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}

.room-activity {
  min-height: 400px;
  background-color: $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);

    border-color: #FFFFFF;
  }
}

.chat__message {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 2px solid $accent-color;
  font-weight: 700;
}

.chat__message__user {
  color: $first-layer-text-color;
  font-weight: 800;
}

.chat__message--playing {
  color: $activity-primary;
}

.chat__message--upvoted {
  color: $activity-success;
}

.chat__message--downvoted {
  color: $activity-danger;
}

.chat__message--skipped {
  color: $activity-danger;
}

.chat__message--said {
  color: $activity-default;
}

.chat__message__message {
  color: $first-layer-text-color;
}

.chat__image {
  width: 16%;
}

.chat__user-info {
  width: 83%;
  position: relative;
  font-size: 14px;
  padding: 3px 0 0 3px;

  .item__title {
    font-size: 14px;
  }
}

.chat__timestamp {
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 2px;
}

.search__box {
  border-bottom: 4px solid $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);
    border-color: #FFFFFF;
  }
}

.more-music {
  .carousel-control {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: $active-color;

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  a {
    color: $active-text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
}
