@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/flexbox";
@import "variables";

html, body {
  height: 100%;
}

.text-muted {
  color: $gray !important;
}

.text-primary {
  color: $blue !important;
}

.text-success {
  color: $green !important;
}

.text-warning {
  color: $orange !important;
}

.text-danger {
  color: $red !important;
}

.btn-primary {
  background-color: $blue !important;

  &:hover {
    background-color: darken($blue, 5%) !important;
  }
}

.btn-warning {
  background-color: $orange !important;

  &:hover {
    background-color: darken($orange, 5%) !important;
  }
}

.btn-danger {
  background-color: $red !important;

  &:hover {
    background-color: darken($red, 5%) !important;
  }
}

a {
  color: $active-color;

  &:hover, &:focus {
    color: darken($active-color, 5%);
  }
}

.btn-accent {
  background-color: $accent-color;
  border-color: $accent-color;
  border-radius: 0;
  color: $accent-text-color;

  &:hover {
    background-color: darken($accent-color, 5%);
    color: $accent-text-color;
  }

  &:focus {
    outline: none;
    color: $accent-text-color;
  }
}

.btn-active {
  background-color: $active-color;
  border-color: $active-color;
  border-radius: 0;
  color: $active-text-color;

  &:hover {
    background-color: darken($active-color, 5%);
    color: $active-text-color;
  }

  &:focus {
    outline: none;
    color: $active-text-color;
  }
}

.privacy {
  background-color: $first-layer;
  min-height: 400px;
  height: auto;
}

div.modal-header {
  padding: 0 15px;
}

div.snackbar {
  @include border-radius(0);

  &.snackbar--error {
    background-color: $red;
    color: white;
  }

  &.snackbar--warning {
    background-color: $orange;
    color: white;
  }

  &.snackbar--info {
    background-color: $blue;
    color: white;
  }

  &.snackbar--success {
    background-color: $green;
    color: white;
  }
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

img.avatar {
  @include border-radius(50%);

  &.upvoted {
    border: 2px solid $green;
  }

  &.downvoted {
    border: 2px solid $red;
  }

  &.xs {
    width: 39px;
    height: 39px;
  }

  &.sm {
    width: 50px;
    height: 50px;
  }

  &.md {
    width: 64px;
    height: 64px;
  }

  &.lg {
    width: 75px;
    height: 75px;
  }
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: 'proxima-nova', sans-serif;
  background-color: $background-color;

  > .container {
    height: 100%;

    > div {
      height: calc(100% - 130px);
      margin-top: 15px;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.nav, .pagination, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  @include border-radius(1em);
}

.container {
  .navbar-header {
    margin: 0;
  }
}

.navbar-inverse {
  border: none;
  @include border-radius(0);

  background-color: $accent-color;
  min-height: 70px;
  font-size: 1.4em;

  a {
    cursor: pointer;
  }

  .navbar-text {
    margin-top: 1.05em;
  }

  .navbar-nav {
    &.navbar-right {
      margin: 0;

      .divider {
        line-height: 70px;
        width: 1px;
        border-left: 1px solid $background-color;
      }
    }
  }
}

.navbar-logo {
  font-family: 'proxima-nova';
  font-weight: 600;
  font-size: 1.8em;
  color: white;
  text-decoration: none;
  display: block;
  margin-top: 0.26em;

  &:link, &:hover, &:visited, &:focus {
    color: white;
    text-decoration: none;
  }
}

.navbar-right {
  color: white;

  a, a:link, a:hover, a:visited, a:active {
    color: white;
  }

  &.navbar--login {
    margin-right: 15px;

    a {
      margin-top: 18px;
    }
  }

  .navbar__divider {
    margin-left: -10px;
    margin-right: -10px;
  }

  .navbar__room {
    a {
      font-weight: 600;
    }
  }

  .navbar__photo {
    border: 2px solid white;
    margin-right: 5px;
  }
}

.hero-lstn {
  color: $red;
}

.hero-music {
  color: $blue;
}

.hero {
  color: white;
  text-align: center;

  background: url(/static/images/hero.jpg) no-repeat center center;
  @include background-size(cover);

  margin-bottom: 60px;

  h1 {
    font-size: 70px;
  }
  
  p {
    font-size: 30px;
  }
}

.rooms {
  h1 {
    color: $first-layer;
  }
}

.rooms__container {
  border: 1px solid $light-gray;
  @include border-radius(4px);

  table {
    background-color: $first-layer;
  }
}

.rooms {
  margin-bottom: 0;

  th.name {
    width: 50%;
  }

  th.owner {
    width: 35%;
  }

  td {
    .btn {
      width: 70px;
    }
  }

  .rooms__empty {
    td {
      text-align: center;
      height: 150px;
      padding-top: 44px;

      a {
        cursor: pointer;
      }
    }
  }
}

.room {
  height: 100%;

  .room__left {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }

  .room__middle {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }

  .room__right {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
}

div.progress-bar-info {
  background-color: $blue;
}

.playing__info-container {
  margin-bottom: 15px;
}

.playing__info--stopped {
  background: $dark-gray;
  min-height: 180px;
  text-align: center;
  color: white;
  font-size: 1.7rem;

  .fa.fa-play-circle {
    font-size: 8rem;
    line-height: 180px;
    color: $broadcasting-off-light;
    cursor: pointer;
  }
}

.playing__info--ready {
  line-height: 180px;
}

.playing__info--waiting {
  line-height: 180px;
}

.playing__info--playing {
  min-height:180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  min-height: 180px;

  h3, h4 {
    color: white;
    margin:0;
  }

  .playing__title {
    margin-top: 1em;
    font-weight: 600;
    font-size: 22px;
  }

  .playing__artist {
    font-weight: 400;
  }
}

.playing__controls {
  margin-top: 1em;
}

.control__button {
  @include border-radius(0);
  @include opacity(1);

  width: 50px;
  height: 50px;
  font-size: 18px;

  &:focus {
    outline: none;
  }
}

.roster__broadcasting {
  margin-bottom: 15px;

  a {
    display: block;
    color: white;
    cursor: pointer;
  }

  .fa {
    height: 50px;
    width: 50px;
    display: inline-block;
    float: left;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
  }

  .broadcasting {
    .broadcasting-btn {
      display: inline-block;
      line-height: 50px;
      margin-left: 15px;
    }
  }

  .broadcasting--on {
    background-color: $broadcasting-on-light;

    .fa {
      background-color: $broadcasting-on-dark;
    }

    .broadcasting-btn {
      @include text-shadow(1px 1px 1px $broadcasting-on-dark);
    }
  }

  .broadcasting--off {
    background-color: $broadcasting-off-light;

    .fa {
      background-color: $broadcasting-off-dark;
    }

    .broadcasting-btn {
      @include text-shadow(1px 1px 1px $broadcasting-off-dark);
    }
  }

  .broadcasting--disabled {
    background-color: $gray;

    .fa {
      background-color: darken($gray, 10%);
    }

    .broadcasting-btn {
      @include text-shadow(1px 1px 1px darken($gray, 10%));
    }
  }
}

.roster__category {
  margin-bottom: 15px;
}

.roster__container {
  border: none;
  border-radius: 0;

  .roster__category-label {
    color: white;
    text-transform: uppercase;

    .bootstrap-switch {
      float: right;
    }
  }

  ul.roster {
    padding:0;
    margin: 15px 0 0 0;
    list-style-type: none;
    
    li {  
      display: inline;
      margin-right: 6px;

      &.empty {
        display: inline-block;
        width: 100%;
        background-color: $lighter-gray;
        padding: 6px;

      }

      &.roster__item--controller {
        a {
          position: relative;

          .fa.fa-volume-up {
            position: absolute;
            top: 10px;
            left: 28px;
            z-index:1;
            background: $blue;
            padding: 4px;
            border-radius: 50%;
            color: white;
            font-size: 0.9rem;
            border: 1px solid white;
          }
        }
      }
    }
  }

  .roster__user {
    color: $darker-gray;
    img {
      margin: 0 0 15px 0;
    }
  }
}


.progress {
  border: none;
  background-color: $first-layer;

  @include border-radius(0);

  .time {
    display: block;
    position: absolute;
    right: 0;
    margin-right: .5em;
  }
}

.queue__tabs {
  height: 100%;
  min-height: 400px;
  background-color: $accent-color;

  .nav-tabs {
    height: 36px;
    border-bottom: 1px solid $accent-color;

    > li {
      &:hover {
        background-color: darken($accent-color, 5%);
      }

      width: 33.33%;
      background-color: $accent-color;

      &.active {
        background-color: $active-color;

        > a {
          &:hover, &:focus {
            background-color: $active-color;
            border: 0;
            color: white;
          }
        }
      }

      > a {
          margin: 0;
          padding: 8px 0 8px 0;
          @include border-radius(0);
          border: 0;
          text-align: center;
          background: none;
          color: $active-text-color;
          font-weight: 600;
      }
    }
  }
}

.tab-content {
  height: 100%;

  .tab-pane {
    height: 100%;
  }
}

.queue__container {
  height: 100%;
}

.queue__controls {
  height: 26px;

  .btn {
    @include border-radius(0);
    border: 0;
    margin: 0;
    padding: 3px;
    width: 50%;

    background-color: $accent-color;
    color: $accent-text-color;

    &:hover {
      background-color: darken($accent-color, 5%);
    }

    &:focus {
      outline: none;
    }

    &.toggled {
      background-color: $active-color;
      color: $active-text-color;

      &:hover {
        background-color: darken($active-color, 5%);
      }
    }
  }
}

.queue {
  height: calc(100% - 62px);

  &.drilldown__list {
    height: calc(100% - 62px);
  }

  overflow-x: hidden;
  overflow-y: auto;
}

.playlist__container {
  height: calc(100% - 38px);
  overflow: hidden;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > * {
      margin-bottom: 5px;
  }

  accordion {
    > .panel-group {
      height: 450px;
    }
  }
}

.queue--empty {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    font-size: 1.4em;
    color: $accent-text-color;
  }
}

.queue--loading {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 10em;
  color: $background-color;
}

.messages--loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 36px;

  font-size: 10em;
  color: $background-color;
}

.drilldown__list {
  height: 100%;

  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.drilldown__item, .chat__message {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 4px solid $accent-color;

  @include display-flex;

  .item__image, .item__actions, .item__info {
    width: 60px;
    @include flex(none);
    margin: 0;
  }

  .item__image {
    width: auto;
    @include flex-basis(60px);
    @include flex-shrink(0);
  }

  .item__actions {
    width: auto;
    @include flex-shrink(0);
    margin-right: 0.5em;
  }

  .item__info {
    @include flex-grow(3);
    @include flex(1);
    margin: 0;
  }
}

.chat__input {
  height: 36px;
}

.chat__message .item__title {
  @include display-flex;
}

.chat__message__message-type {
  @include flex-grow(1);
}

.chat__track {
  font-weight: 600;
}

.chat__artist {
  font-weight: 400;
}

.item__image {
  width: 17%;
  min-height: 60px;
  position: relative;

  img {
    height: 60px;
    width: 60px;
  }

  .fa {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }

  .item__image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: white;

    @include opacity(0.3);
  }

  .item__image__overlay__icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 3em;
    color: black;
    text-align: center;

    @include opacity(0.6);
  }

  .item__image__overlay__icon--favorite {
    color: $red;
  }

  .item__image__overlay__icon--message {
    color: $gray;
    @include opacity(0.8);
  }

  .item__image__overlay__icon--upvote {
    color: $green;
  }

  .item__image__overlay__icon--downvote {
    color: $red;
  }

  .item__image__overlay__icon--skipped {
    color: $red;
  }

  .item__image__overlay__icon--playing {
    color: $blue;
  }
}

.item__info {
  width: 75%;
  line-height: 1.23;

  padding: 3px 0 0 5px;

  a {
    color: $first-layer-text-color;
  }
  
  .item__top {
    float: right;
    margin: 12px 10px 0px 5px;
    cursor: pointer;
  }

  .item__title {
    font-weight: 600;
    font-size: 16px;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.item__title--1 {
      padding-top: 17px;
    }

    &.item__title--2 {
      padding-top: 8px;
    }
  }

  .item__artist {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item__actions {
  margin-right: 15px;
  line-height: 50px;

  a {
    cursor: pointer;
  }

  .dropdown-menu {
    font-size: 12px;
    cursor: pointer;

    .fa {
      margin-top: 0;
    }

    li {
      a {
        padding: 3px 5px;
      }
    }
  }

  .fa {
    color: $active-color;
    text-decoration: none;
    font-size: 1.25em;
    margin-top: 22px;
  }

  .item__actions__drag-handle {
    color: $gray;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    &:active {
      cursor: ns-resize;
    }
  }

  .item__actions__move-to-top, .item__actions__move-to-bottom, .item__actions__add {
    color: $green;
  }
}

.messages {
  height: calc(100% - 36px);
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

.clear {
  clear: both;
}

.error-message {
    margin-top: 1em;
}

.user-search {
  .user-photo {
    max-width: 30px;
    max-height: 30px;
    @include border-radius(15px);
  }

  .list-group-item {
    padding: 5px;

    &.active {
      color: white;
      background-color: $blue;
      border-color: $blue;

      .text-muted {
        color: $gray;
      }

      .text-primary {
        color: white;
      }
    }
  }
}

.emoticon-list {
  .list-group-item {
    padding: 5px;
    display: inline-block;
    float: left;

    &:nth-child(15n) {
      clear: left;
    }

    &.active {
      background-color: $blue;
      border-color: $blue;
    }
  }
}

.room-activity {
  height: 100%;
  background-color: $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);

    border-color: white;
  }
}

svg.emojione {
  height: 16px;
  min-height: 16px;
} 

.chat__message {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 2px solid $accent-color;
  font-weight: 600;
}

div.chat__message--message {
  background-color: white;
}

.chat__message__user {
  color: $first-layer-text-color;
  font-weight: 600;
}

.chat__message--playing {
  color: $blue;
}

.chat__message--upvoted {
  color: $green;
}

.chat__message--downvoted {
  color: $red;
}

.chat__message--skipped {
  color: $red;
}

.chat__message--message {
  color: $gray;
}

.chat__message__message {
  color: $first-layer-text-color;
}

.chat__image {
  width: 16%;
  position: relative;
}

.chat__user-info {
  width: 83%;
  position: relative;
  font-size: 14px;
  padding: 3px 0 0 3px;

  .item__title {
    font-size: 14px;
  }
}

.chat__timestamp {
  margin-right: 4px;
}

.search__wrapper {
  height: 100%;
}

.search__container {
  height: calc(100% - 38px);
}

.search__contents {
  height: 100%;
}

.search__box {
  border-bottom: 4px solid $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);
    border-color: white;
  }
}

.lstn-carousel {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;

  a {
    cursor: pointer;
  }

  .slide__wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }

  .slides {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 500%;
    overflow: hidden;
    position: relative;
    left: 0px;

    @include transition(left .4s cubic-bezier(0.77, 0, 0.175, 1));

    .slide__container {
      width: 20%;
      height: calc(100% - 36px);
      float: left;
      position: relative;

      .slide {
        height: calc(100% - 40px);

        .slide--empty {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 10em;
          color: #333;
        }
      }
    }
  }
}

.more-music {
  height: calc(100% - 36px);
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: $active-color;

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;

  a {
    color: $active-text-color;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
  }

  .dropdown-menu {
    font-size: 12px;

    li {
      a {
        cursor: pointer;
        text-transform: none;
        font-weight: 400;
        padding: 3px 5px;
      }
    }
  }

  .carousel__dropdown--add {
    color: $green;
  }

  .carousel__dropdown--refresh {
    color: $accent-color;
  }

  .carousel__action {
    margin-right: 10px;
    color: white;

    .fa {
      font-size: 1.25em;
    }
  }
}

/* sm */
@media (min-width: 768px) {
  div.room {
    > div.room__middle {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* md */
@media (min-width: 992px) {
  div.queue__tabs {
    ul.nav-tabs {
      > li {
        width: 50%;
      }
    }
  }
}
