@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";

$rdio-red: #E84961;
$rdio-blue: #008fd5;
$activity-success: #2ecc71;
$activity-primary: #2573a6;
$activity-default: #777;
$activity-danger: #e74c3c;
$background-color: #333;
$accent-color: #3d3d3d;
$active-color: #d24242;
$front-layer: #eee;


/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

img.avatar {
  border-radius: 50%;
  &.upvoted {
    border: 2px solid #4cae4c;
  }
  &.downvoted {
    border: 2px solid #d43f3a;
  }
  &.xs {
    width:32px;
    height:32px;
  }
  &.sm {
    width: 50px;
    height:50px;
  }
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: $background-color;

  > .container {
    padding: 70px 15px 0;

    > div {
      margin-top: 15px;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.glyphicon.spinning {
  @include animation('spin 1s infinite linear');
}

@include keyframes(spin) {
  from {
    @include transform(rotate(0deg));
  }

  to {
    @include transform(rotate(360deg));
  }
}

.label-as-badge {
  border-radius: 1em;
}

.navbar-inverse {
  background-color: $accent-color;
  min-height: 60px;
  font-size: 16px;

  .navbar-text {
    margin-top: 18px;
  }

  .navbar-nav {
    > li {
      > a {
        padding-top: 15px;

        &.navbar__name {
          color: #FFFFFF;
          padding-left: 10px;
        }
      }
    }
  }
}

.navbar-logo {
  font-family: 'signo';
  font-size: 2em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 8px;

  &:link {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.navbar-right {
  &.navbar--login {
    margin-right: 5px;
  }

  .navbar__rooms {
    margin-right: 5px;

    a {
      color: white;
    }
  }

  .navbar__divider {
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF;
  }

  .navbar__room {
    margin-left: 5px;

    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .navbar__photo {
    border: 2px solid #FFFFFF;
    margin-right: 5px;
  }
}

.alerts {
  z-index: 2000;
  width: 50%;

  position: fixed;
  top: 5px;
  left: 25%;

  .alert {
    padding: 9px 35px 9px 9px;
    text-align: center;
  }
}

.page-header {
  margin-top: 5px;
  margin-bottom: 10px;

  .alert {
    font-size: 14px;
  }
}

.lstn {
  color: $rdio-red;
}

.rdio {
  color: $rdio-blue;
}

.hero {
  color: white;
  text-align: center;

  background: url(/static/images/hero.jpg) no-repeat center center;
  background-size: cover;

  margin-bottom: 60px;

  h1 {
    font-size: 70px;
  }
  
  p {
    font-size: 30px;
  }
}

.front__info__container {
  margin-bottom: 30px;
 }

.front__info {
  text-align: center;
  .glyphicon {
    font-size: 3em;
  }
}

.rooms__container {
  border: 1px solid #DDD;
  border-radius: 4px;
}

.rooms {
  margin-bottom: 0;

  th.name {
    width: 50%;
  }

  th.owner {
    width: 35%;
  }

  td {
    .btn {
      width: 70px;
    }
  }

  .rooms__empty {
    td {
      text-align: center;
      height: 150px;
      padding-top: 44px;

      a {
        cursor: pointer;
      }
    }
  }
}

.room {
  .room__left {
    padding-right: 0;
  }

  .room__middle {
    padding-left: 10px;
    padding-right: 10px;
  }

  .room__right {
    padding-left: 0;
  }
}

.room__container {
  border: 1px solid #ddd;
  padding: 5px;
  height: 500px;
    
  @include border-radius(4px);
}

.column__header {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid transparent;
  background-color: #f5f5f5;
}

.roster__container {
  border: none;
  border-radius: 0;

  .listeners {
  }

  .roster__user {
    img {
      margin: 5px;
    }
  }
}

.playing__container {
  
  .playing__info--playing {
    padding:20px;
    .playing__title {
      color:#fff;
    }

    .playing__artist {
      color:#fff;
    }
  }

  .progress {
    border-radius: 0;
    border:none;
    .time {
      display: block;
      position: absolute;
    }
  }

  .playing__visualization {
    height: 180px;
    padding-left: 0;
    padding-right: 0;

    @include border-radius(4px);
    
    &:first-child { 
      border-left: 1px solid #c2c2c2;
    }

    div {
        width: 31px;
        background-color: #dcdcdc;
        border-top: 1px solid #c2c2c2;
        border-right: 1px solid #c2c2c2;
        display: inline-block;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
  }

  .playing__actions {
    .playing__actions__container {
      padding: 10px 0;
      margin-bottom: 5px;

      .btn {
        .glyphicon {
          font-size: 2.3em;
          line-height: 1;
          padding: 10px;
        }
      }
    }
  }

  .playing__queue {
    .playing__queue__container {
      height: 235px;

    }
  }
}

.queue__tabs {
  height: 100%;

  .nav-tabs {
    > li {
      width: 50%;
      background-color: $accent-color;

      &.active {
        background-color: $active-color;

        > a {
          &:hover, &:focus {
            background-color: $active-color;
            border: 0;
            color: white;
          }
        }
      }

      > a {
          margin: 0;
          padding: 8px 0 8px 0;
          border-radius: 0;
          border: 0;
          text-align: center;
          background: none;
          color: #FFFFFF;
          font-weight: 700;
      }
    }
  }
}

.search__contents {
  padding: 0;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > * {
      margin-bottom: 5px;
  }

  accordion {
    > .panel-group {
      height: 450px;
    }
  }
}

.categories {
    overflow: auto;
    height: 450px;
}

.category {
  margin-bottom: 5px;
}

.category__contents {
  padding: 5px;
}

.playlist {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.playlist__tracks {
  padding: 0;
}

.queue--empty {
  margin: 10px;
  height: 170px;
  padding-top: 40px;
}

.track__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;

  .track {
    background-color: $front-layer;
    padding: 0;
    border-top: 1px solid #ddd;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      .track__image {
        img {
          border-bottom-left-radius: 4px;
        }
      }
    }

    &.track--even {
      background-color: #F5F5F5;
    }

    &.track--odd {
      background-color: #FFFFFF;
    }
  
    .track__image {
      width: 40px;
      height: 40px;
      float: left;

      img {
        width: 40px;
        height: 40px;
      }

      .overlay {
        display: none;

        background-color: #333;
        position: relative;
        top: -40px;
        left: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;

        @include opacity(0.65);
      }

      .glyphicon, .fa {
        display: none;

        position: relative;
        top: -80px;
        left: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 2em;
        text-align: center;
        color: #ddd;

        cursor: pointer;
      }

      &:hover {
        .overlay {
          display: block;
        }

        .glyphicon, .fa {
          display: block;
        }
      }
    }
  
    .track__info {
      float: left;

      padding: 3px 0 0 3px;

      .track__top {
          float: right;
          margin: 12px 10px 0px 5px;
          cursor: pointer;
      }
  
      .track__title {
        font-weight: bold;
        font-size: 12px;
      }

      .track__artist {
        font-size: 11px;
      }
    }

    .track__actions--queued {
      float: right;
      margin-right: 22px;
      line-height: 50px;
      a {
        display:none;
        cursor:pointer;
      }
    }

    &:hover {
      .track__actions--queued {
        a {
          display:inline;
        }
      }
    }
  }


  &.queue {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    .track {
      cursor: move;
      border-bottom: 4px solid $background-color;

      .track__image {
        width: 60px;
        height: 60px;
  
        img {
          width: 60px;
          height: 60px;
        }
  
        .overlay {
          top: -60px;
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
  
        .glyphicon, .fa {
          top: -120px;
          width: 60px;
          height: 60px;
          line-height: 60px;
        }
      }
    
      .track__info {
        padding: 3px 0 0 5px;
    
        .track__title {
          font-size: 16px;
        }
  
        .track__artist {
          font-size: 14px;
        }
      }
    }
  }
}

.messages {
  margin-bottom: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;

  .container {
    .text-muted {
      margin: 12px 0;
    }
  }
}

.clear {
  clear: both;
}

.error-message {
    margin-top: 1em;
}

.user-search {
  .user-photo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
  }

  .list-group-item {
    padding: 5px;

    &.active {
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;

      .text-muted {
        color: #ccc;
      }

      .text-primary {
        color: #fff;
      }
    }
  }
}

.emoticon-list {
  .list-group-item {
    padding: 5px;
    display: inline-block;
    float: left;

    &:nth-child(15n) {
      clear: left;
    }

    &.active {
      background-color: #428bca;
      border-color: #428bca;
    }
  }
}

.mentioned {
  @include animation(mentioned 5s infinite ease);
}

@include keyframes(mentioned) {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}

.room-activity {
  .messages {
    height: 90%;
    width: 100%;

    .chat__message {
      background-color: $front-layer;
      padding: 10px 10px 15px 10px;
      border: 0;
      border-bottom: 2px solid #ddd;

      @include border-radius(0);

      .chat__message__headline {
        font-weight: 700;

        .chat__message__user {
          color: #333;
          font-weight: 800;
        }
      }

      .chat__message--playing {
        color: $activity-primary;
      }

      .chat__message--upvoted {
        color: $activity-success;
      }

      .chat__message--downvoted {
        color: $activity-danger;
      }

      .chat__message--skipped {
        color: $activity-danger;
      }

      .chat__message--said {
        color: $activity-default;
      }

      .chat__message__photo {
        padding-left: 20px;
        padding-top: 5px;
        width: 23%;
      }

      .chat__message__body {
        width: 57%;
        color: #999;
        font-weight: 700;
      }

      .chat__message__message {
        line-height: 0.9;
        color: #333;
      }

      .chat__message__timestamp {
        width: 19%;
        padding-right: 0;
        color: #aaa;
        font-weight: 700;
        padding-top: 35px;
        padding-left: 8px;
      }
    }
  }

  .form-control {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}
