@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "compass/css3/flexbox";
@import "variables";

html, body {
  height: 100%;
}

.privacy {
  background-color: $first-layer;
  min-height: 400px;
  height: auto;
}

div.snackbar {
  @include border-radius(0);

  &.snackbar--error {
    background-color: #f44336;
    color: #ffffff;
  }

  &.snackbar--warning {
    background-color: #ff5722;
    color: #ffffff;
  }

  &.snackbar--info {
    background-color: #03a9f4;
    color: #ffffff;
  }

  &.snackbar--success {
    background-color: #0f9d58;
    color: #ffffff;
  }
}

.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

img.avatar {
  @include border-radius(50%);

  &.upvoted {
    border: 2px solid #4cae4c;
  }
  &.downvoted {
    border: 2px solid #d43f3a;
  }
  &.xs {
    width:39px;
    height:39px;
  }
  &.sm {
    width: 50px;
    height:50px;
  }
  &.md {
    width: 64px;
    height: 64px;
  }
  &.lg {
    width: 75px;
    height: 75px;
  }
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: $background-color;

  > .container {
    height: 100%;

    > div {
      height: 80%;
      margin-top: 15px;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  @include border-radius(1em);
}

.container {
  .navbar-header {
    margin: 0;
  }
}

.navbar-inverse {
  border: none;
  background-color: $accent-color;
  min-height: 70px;
  font-size: 1.4em;

  .navbar-text {
    margin-top: 1.05em;
  }

  .navbar-nav {
    &.navbar-right {
      margin: 0;

      .divider {
        line-height: 70px;
        width: 1px;
        border-left: 1px solid $background-color;
      }
    }
  }
}

.navbar-logo {
  font-family: 'signo';
  font-size: 1.8em;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 0.26em;

  &:link, &:hover, &:visited, &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.navbar-right {
  color: #FFFFFF;

  a, a:link, a:hover, a:visited, a:active {
    color: #FFFFFF;
  }

  &.navbar--login {
    margin-right: 5px;
  }

  .navbar__divider {
    margin-left: -10px;
    margin-right: -10px;
  }

  .navbar__room {
    a {
      font-weight: bold;
    }
  }

  .navbar__photo {
    border: 2px solid #FFFFFF;
    margin-right: 5px;
  }
}

.lstn {
  color: $rdio-red;
}

.rdio {
  color: $rdio-blue;
}

.hero {
  color: white;
  text-align: center;

  background: url(/static/images/hero.jpg) no-repeat center center;
  @include background-size(cover);

  margin-bottom: 60px;

  h1 {
    font-size: 70px;
  }
  
  p {
    font-size: 30px;
  }
}

.rooms {
  h1 {
    color: $first-layer;
  }
}

.rooms__container {
  border: 1px solid #DDD;
  @include border-radius(4px);

  table {
    background-color: $first-layer;
  }
}

.rooms {
  margin-bottom: 0;

  th.name {
    width: 50%;
  }

  th.owner {
    width: 35%;
  }

  td {
    .btn {
      width: 70px;
    }
  }

  .rooms__empty {
    td {
      text-align: center;
      height: 150px;
      padding-top: 44px;

      a {
        cursor: pointer;
      }
    }
  }
}

.room {
  height: 100%;
  .room__left {
    padding-left: 0;
    padding-right: 0;
  }

  .room__middle {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }

  .room__right {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
  }
}

.playing__info-container {
  margin-bottom: 36px;
}

.playing__info--stopped {
  background: #3d3d3d;
  min-height: 180px;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;

  .fa.fa-play-circle {
    font-size: 8rem;
    line-height: 180px;
    color: $action-additive;
    cursor: pointer;
  }
}

.playing__info--ready {
  line-height: 180px;
}

.playing__info--waiting {
  line-height: 180px;
}

.playing__info--playing {
  min-height:180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.4);
  padding: 0.7em;
  min-height: 180px;

  h3, h4 {
    color: #fff;
    margin:0;
  }

  .playing__title {
    margin-top: 1em;
    font-weight: 700;
    font-size:22px;
  }

  .playing__artist {
    font-weight: 100;
  }
}

.playing__controls {
  margin-top: 1em;
}


.bootstrap-switch {
  span.bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: $active-color;
  }
}

.control__button {
  @include border-radius(0);
  opacity: 1;
  width:50px;
  height:50px;
  font-size:18px;

}

.roster__category {
  margin-bottom:36px;
}

.roster__container {
  border: none;
  border-radius: 0;
  .roster__category-label {
    color:#fff;
    text-transform:uppercase;

    .bootstrap-switch {
      float: right;
    }
  }

  ul.roster {
    padding:0;
    margin: 10px 0 0 0;
    list-style-type: none;
    
    li {  
      display:inline;
      margin-right:6px;

      &.empty {
        display: inline-block;
        width:100%;
        background-color:#eee;
        padding:6px;

      }

      &.roster__item--controller {
        
        a {
          position: relative;
          .fa.fa-volume-up {
            position: absolute;
            top: 10px;
            left: 28px;
            z-index:1;
            background: #337ab7;
            padding: 4px;
            border-radius: 50%;
            color: #fff;
            font-size: 0.9rem;
            border: 1px solid #fff;
          }
        }
      }
    }
  }

  .roster__user {
    img {
      margin: 5px;
    }
  }
}


.progress {
  border: none;
  background-color: $first-layer;

  @include border-radius(0);

  .time {
    display: block;
    position: absolute;
    right: 0;
    margin-right: .5em;
  }
}

.queue__tabs {
  height: 100%;
  min-height: 400px;
  background-color: $accent-color;

  .nav-tabs {
    > li {
      &:last-child {
        width: 34%;
      }

      width: 33%;
      background-color: $accent-color;

      &.active {
        background-color: $active-color;

        > a {
          &:hover, &:focus {
            background-color: $active-color;
            border: 0;
            color: white;
          }
        }
      }

      > a {
          margin: 0;
          padding: 8px 0 8px 0;
          @include border-radius(0);
          border: 0;
          text-align: center;
          background: none;
          color: $active-text-color;
          font-weight: 700;
      }
    }
  }
}

.tab-content {
  height: 100%;

  .tab-pane {
    height: 100%;
  }
}

.queue__container {
  height: 100%;
}

.queue {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist__container {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > * {
      margin-bottom: 5px;
  }

  accordion {
    > .panel-group {
      height: 450px;
    }
  }
}

.queue--empty {
  font-size: 10em;
  color: $background-color;
  line-height: 400px;
}

.messages--empty {
  font-size: 10em;
  color: $background-color;
  line-height: 400px;
  padding-top: 36px;
}

.drilldown__list {
  height: 100%;

  list-style: none;
  padding: 0;
  margin-bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.drilldown__item, .chat__message {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 4px solid $accent-color;

  @include display-flex;

  .item__image, .item__actions, .item__info {
    width: 60px;
    @include flex(none);
    margin: 0;
  }

  .item__image {
    width: auto;
    @include flex-basis(60px);
    @include flex-shrink(0);
  }

  .item__actions {
    width: auto;
    @include flex-shrink(0);
    margin-right: 0.5em;
  }

  .item__info {
    @include flex-grow(3);
    @include flex(1);
    margin: 0;
  }
}

.chat__message .item__title {
  @include display-flex;
}

.chat__message__message-type {
  @include flex-grow(1);
}

.chat__track {
  font-weight: 700;
}

.chat__artist {
  font-weight: 400;
}

.item__image {
  width: 17%;
  min-height: 60px;

  img {
    width: 60px;
    height: 60px;
  }

  .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

.item__info {
  width: 75%;
  line-height: 1.23;

  padding: 3px 0 0 5px;

  a {
    color: $first-layer-text-color;
  }
  
  .item__top {
    float: right;
    margin: 12px 10px 0px 5px;
    cursor: pointer;
  }

  .item__title {
    font-weight: bold;
    font-size: 16px;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &.item__title--single {
      padding-top: 17px;
    }

    &.item__title--couple {
      padding-top: 8px;
    }
  }

  .item__artist {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item__actions {
  margin-right: 15px;
  line-height: 50px;

  .dropdown-menu {
    font-size: 12px;
    cursor: pointer;

    .fa {
      margin-top: 0;
    }

    li {
      a {
        padding: 3px 5px;
      }
    }
  }

  .fa {
    cursor:pointer;
    color: $active-color;
    text-decoration: none;
    font-size: 1.25em;
    margin-top: 22px;
  }

  .item__actions__drag-handle {
    color: $activity-default;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;

    &:active {
      cursor: ns-resize;
    }
  }

  .item__actions__move-to-top, .item__actions__move-to-bottom, .item__actions__add {
    color: $action-additive;
  }
}

.messages {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  width: 100%;
  margin-bottom: 0;
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;

  .container {
    .text-muted {
      margin: 12px 0;
    }
  }
}

.clear {
  clear: both;
}

.error-message {
    margin-top: 1em;
}

.user-search {
  .user-photo {
    max-width: 30px;
    max-height: 30px;
    @include border-radius(15px);
  }

  .list-group-item {
    padding: 5px;

    &.active {
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;

      .text-muted {
        color: #ccc;
      }

      .text-primary {
        color: #fff;
      }
    }
  }
}

.emoticon-list {
  .list-group-item {
    padding: 5px;
    display: inline-block;
    float: left;

    &:nth-child(15n) {
      clear: left;
    }

    &.active {
      background-color: #428bca;
      border-color: #428bca;
    }
  }
}

.mentioned {
  @include animation(mentioned 5s infinite ease);
}

@include keyframes(mentioned) {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}

.room-activity {
  height: 100%;
  background-color: $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);

    border-color: #FFFFFF;
  }
}

.chat__message {
  min-height: 60px;
  background-color: $first-layer;
  padding: 0;
  border-bottom: 2px solid $accent-color;
  font-weight: 700;
}

.chat__message__user {
  color: $first-layer-text-color;
  font-weight: 800;
}

.chat__message--playing {
  color: $activity-primary;
}

.chat__message--upvoted {
  color: $activity-success;
}

.chat__message--downvoted {
  color: $activity-danger;
}

.chat__message--skipped {
  color: $activity-danger;
}

.chat__message--said {
  color: $activity-default;
}

.chat__message__message {
  color: $first-layer-text-color;
}

.chat__image {
  width: 16%;
}

.chat__user-info {
  width: 83%;
  position: relative;
  font-size: 14px;
  padding: 3px 0 0 3px;

  .item__title {
    font-size: 14px;
  }
}

.chat__timestamp {
  margin-right: 4px;
}

.search__wrapper {
  height: 100%;
}

.search__container {
  height: 100%;
}

.search__contents {
  height: 100%;
}

.search__box {
  border-bottom: 4px solid $accent-color;

  .form-control {
    @include border-radius(0);
    @include box-shadow(none);
    border-color: #FFFFFF;
  }
}

.more-music {
  height: 100%;

  .carousel-control {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }

  .carousel {
    height: 100%;
  }

  .carousel-inner {
    height: 100%;
    overflow-x: hidden;
    overflow-y: inherit;

    .item {
      height: 80%;

      .tracks {
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: $active-color;

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  a {
    color: $active-text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }

  .carousel__refresh {
    padding-right: 15px;
    color: white;

    .fa {
      font-size: 1.25em;
    }
  }
}

/* sm */
@media (min-width: 768px) {
  div.room {
    > div.room__middle {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/* md */
@media (min-width: 992px) {
  div.queue__tabs {
    ul.nav-tabs {
      > li {
        width: 50%;
      }
    }
  }
}
