@import "compass/css3/background-size";
@import "compass/css3/border-radius";
@import "compass/css3/animation";
@import "compass/css3/transform";
@import "compass/css3/opacity";
@import "variables";

html, body {
  height: 100%;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}

img.avatar {
  border-radius: 50%;

  &.upvoted {
    border: 2px solid #4cae4c;
  }
  &.downvoted {
    border: 2px solid #d43f3a;
  }
  &.xs {
    width:32px;
    height:32px;
  }
  &.sm {
    width: 50px;
    height:50px;
  }
  &.md {
    width: 64px;
    height: 64px;
  }
  &.lg {
    width: 75px;
    height: 75px;
  }
}

/* http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/ */
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: $background-color;

  > .container {
    padding: 90px 15px 0;

    > div {
      margin-top: 15px;
    }
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-as-badge {
  border-radius: 1em;
}

.navbar-inverse {
  border: none;
  background-color: $accent-color;
  min-height: 75px;
  font-size: 1.4em;

  .navbar-text {
    margin-top: 1.2em;
  }

  .navbar-nav {
    > li {
      > a {
        padding-top: 1.2em;

        &.navbar__name {
          color: #FFFFFF;
          padding-left: 10px;
        }
      }
    }
  }
}

.navbar-logo {
  font-family: 'signo';
  font-size: 3.5rem;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 1.3rem;

  &:link {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.navbar-right {
  &.navbar--login {
    margin-right: 5px;
  }

  .navbar__rooms {
    margin-right: 5px;

    a {
      color: white;
    }
  }

  .navbar__divider {
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF;
  }

  .navbar__room {
    margin-left: 5px;

    a {
      font-weight: bold;
      color: #FFFFFF;
    }
  }

  .navbar__photo {
    border: 2px solid #FFFFFF;
    margin-right: 5px;
  }
}

.alerts {
  z-index: 2000;
  width: 50%;

  position: fixed;
  top: 5px;
  left: 25%;

  .alert {
    padding: 9px 35px 9px 9px;
    text-align: center;
  }
}

.lstn {
  color: $rdio-red;
}

.rdio {
  color: $rdio-blue;
}

.hero {
  color: white;
  text-align: center;

  background: url(/static/images/hero.jpg) no-repeat center center;
  background-size: cover;

  margin-bottom: 60px;

  h1 {
    font-size: 70px;
  }
  
  p {
    font-size: 30px;
  }
}

.front__info__container {
  margin-bottom: 30px;
 }

.front__info {
  text-align: center;
  .glyphicon {
    font-size: 3em;
  }
}

.rooms__container {
  border: 1px solid #DDD;
  border-radius: 4px;
}

.rooms {
  margin-bottom: 0;

  th.name {
    width: 50%;
  }

  th.owner {
    width: 35%;
  }

  td {
    .btn {
      width: 70px;
    }
  }

  .rooms__empty {
    td {
      text-align: center;
      height: 150px;
      padding-top: 44px;

      a {
        cursor: pointer;
      }
    }
  }
}

.room {
  .room__left {
    padding-right: 0;
  }

  .room__middle {
    padding-left: 0;
    padding-right: 0;
  }

  .room__right {
    padding-left: 0;
  }
}

.playing__info--playing {
  padding: 20px;
  min-height:180px;
}

.playing__meta {
  background: rgba(0, 0, 0, 0.5);
  padding:12px;
  h3, h4 {
    font-weight: 700;
    color: #fff;
    margin:0;
  }
  h3 {
    font-size:22px;
  }
  h4, {
    font-weight: 100;
  }
  margin-bottom:12px;
}

.control__button {
  @include border-radius(0);
}

.roster__container {
  border: none;
  border-radius: 0;

  .listeners {
  }

  .roster__user {
    img {
      margin: 5px;
    }
  }
}

.no-gutters {
  padding:12px;
  background:#f5f5f5;
}

.progress {
  border: none;
  background-color: $front-layer;

  @include border-radius(0);

  .time {
    display: block;
    width: 93%;
    position: absolute;
  }
}

.queue__tabs {
  min-height: 400px;
  background-color: $accent-color;

  .nav-tabs {
    > li {
      width: 50%;
      background-color: $accent-color;

      &.active {
        background-color: $active-color;

        > a {
          &:hover, &:focus {
            background-color: $active-color;
            border: 0;
            color: white;
          }
        }
      }

      > a {
          margin: 0;
          padding: 8px 0 8px 0;
          border-radius: 0;
          border: 0;
          text-align: center;
          background: none;
          color: $active-text-color;
          font-weight: 700;
      }
    }
  }
}

.music__container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  > * {
      margin-bottom: 5px;
  }

  accordion {
    > .panel-group {
      height: 450px;
    }
  }
}

.queue--empty {
  margin: 10px;
  height: 170px;
  padding-top: 40px;
}

.drilldown__list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.drilldown__item {
  min-height: 60px;
  background-color: $front-layer;
  padding: 0;
  border-bottom: 4px solid $background-color;
}

.item__image {
  width: 13%;
  min-height: 60px;
  float: left;

  img {
    width: 60px;
    height: 60px;
  }

  .fa {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

.item__info {
  float: left;
  width: 75%;

  padding: 3px 0 0 5px;
  
  .item__top {
    float: right;
    margin: 12px 10px 0px 5px;
    cursor: pointer;
  }

  .item__title {
    font-weight: bold;
    font-size: 16px;

    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .item__artist {
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item__actions {
  float: right;
  margin-right: 22px;
  line-height: 50px;

  a {
    cursor:pointer;
    color: $active-color;
    text-decoration: none;
    line-height: 60px;
  }
}

.messages {
  margin-bottom: 0;
  min-height: 400px;
  background-color: $accent-color;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #F5F5F5;

  .container {
    .text-muted {
      margin: 12px 0;
    }
  }
}

.clear {
  clear: both;
}

.error-message {
    margin-top: 1em;
}

.user-search {
  .user-photo {
    max-width: 30px;
    max-height: 30px;
    border-radius: 15px;
  }

  .list-group-item {
    padding: 5px;

    &.active {
      color: #fff;
      background-color: #428bca;
      border-color: #428bca;

      .text-muted {
        color: #ccc;
      }

      .text-primary {
        color: #fff;
      }
    }
  }
}

.emoticon-list {
  .list-group-item {
    padding: 5px;
    display: inline-block;
    float: left;

    &:nth-child(15n) {
      clear: left;
    }

    &.active {
      background-color: #428bca;
      border-color: #428bca;
    }
  }
}

.mentioned {
  @include animation(mentioned 5s infinite ease);
}

@include keyframes(mentioned) {
  0% {
    background: #777;
  }
  40% {
    background: #FF0000;
    color: white;
  }
  60% {
    background: #FF0000;
    color: white;
  }
  100% {
    background: #777;
    color: white;
  }
}

.room-activity {
  .messages {
    height: 90%;
    width: 100%;

    .chat__message {
      background-color: $front-layer;
      padding: 10px 10px 15px 10px;
      border: 0;
      border-bottom: 2px solid #ddd;

      @include border-radius(0);

      .chat__message__headline {
        font-weight: 700;

        .chat__message__user {
          color: #333;
          font-weight: 800;
        }
      }

      .chat__message--playing {
        color: $activity-primary;
      }

      .chat__message--upvoted {
        color: $activity-success;
      }

      .chat__message--downvoted {
        color: $activity-danger;
      }

      .chat__message--skipped {
        color: $activity-danger;
      }

      .chat__message--said {
        color: $activity-default;
      }

      .chat__message__photo {
        padding-left: 20px;
        padding-top: 5px;
        width: 23%;
      }

      .chat__message__body {
        width: 57%;
        color: #999;
        font-weight: 700;
      }

      .chat__message__message {
        line-height: 0.9;
        color: #333;
      }

      .chat__message__timestamp {
        width: 19%;
        padding-right: 0;
        color: #aaa;
        font-weight: 700;
        padding-top: 35px;
        padding-left: 8px;
      }
    }
  }

  .form-control {
    border-radius: 0;
  }
}

.search__box {
  &.form-control {
    border-radius: 0;
    border: 1px solid transparent;
  }
}

.more-music {
  .carousel-control {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
}

.carousel__back {
  padding-left: 5px;
  line-height: 40px;
  background-color: $active-color;

  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  a {
    color: $active-text-color;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
  }
}
