<div>
  <div class="hero jumbotron">
    <div class="container">
      <h1><span class="lstn">Lstn</span> to <span class="rdio">Rdio</span> with Friends</h1>
      <p>Create a room and start listening to Rdio with your friends.</p>
      <p>
        <a data-ng-show="!current_user.id" class="btn btn-primary btn-lg" href="/login" role="button" target="_self">Get Started</a>
        <a data-ng-show="current_user.id" class="btn btn-primary btn-lg" href="/rooms" role="button">Get Started</a>
      </p>
    </div>
  </div>

  <div class="front__info__container container">
    <div class="row">
      <div class="front__info col-xs-4">
        <div><i class="glyphicon glyphicon-headphones"></i></div>
        <h4>Simple to get started</h4>
        <p>Login with your Rdio account and create a room to start listening</p>
      </div>
      <div class="front__info col-xs-4">
        <div><i class="glyphicon glyphicon-list"></i></div>
        <h4>Sharing is caring</h4>
        <p>Share your favorite music by using your playlists, collections, and stations from Rdio</p>
      </div>
      <div class="front__info col-xs-4">
        <div><i class="glyphicon glyphicon-transfer"></i></div>
        <h4>Stay in sync</h4>
        <p>Music playback is synced between room members so you can listen and discover music together</p>
      </div>
    </div>
  </div>
</div>
