<div>
  <div class="hero jumbotron">
    <div class="container">
      <h1><span class="hero-lstn">Lstn</span> to <span class="hero-music">Music</span> with Friends</h1>
      <p>Create a room and start listening to music with your friends.</p>
      <p>
        <a data-ng-show="!current_user.id" class="btn btn-primary btn-lg" href="/login" role="button" target="_self">Get Started</a>
        <a data-ng-show="current_user.id" class="btn btn-primary btn-lg" href="/rooms" role="button">Get Started</a>
      </p>
    </div>
  </div>
</div>
