<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="room in rooms">
        <td><a data-ng-href="#/room/{{ room.slug }}" data-ng-bind="room.name"></a></div>
        <td data-ng-bind="room.owner.name"></div>
        <td>
          <a data-ng-href="#/rooms/{{ room.slug }}/edit" data-ng-if="current_user.id === room.owner_id">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
