<div class="room row">
  <div class="col-md-3 room__left">
    <lstn-playing-info></lstn-playing-info>
    <lstn-room-roster></lstn-room-roster>
  </div>
  <div class="col-md-5 room__middle">
    <tabset class="queue__tabs">
      <tab id="my-queue-tab">
        <tab-heading>MY QUEUE</tab-heading>
        <lstn-room-queue></lstn-room-queue>
      </tab>
      <tab>
        <tab-heading>MORE MUSIC</tab-heading>
        <lstn-more-music></lstn-more-music>
      </tab>
    </tabset>
  </div>
  <div class="col-md-4 room__right">
    <lstn-room-activity></lstn-room-activity>
  </div>
</div>
